<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" >-->
<!--<head>-->
<!--    &lt;!&ndash; Required Meta Tags Always Come First &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    &lt;!&ndash; Title &ndash;&gt;-->
<!--    <title>Basic Sign In | Front - Admin &amp; Dashboard Template</title>-->
<!--    <th:block th:include="dashboard/layout/head :: head"/>-->
<!--</head>-->

<!--<body>-->
<!--&lt;!&ndash; ========== MAIN CONTENT ========== &ndash;&gt;-->
<!--<main id="content" role="main" class="main">-->
<!--    <div class="position-fixed top-0 right-0 left-0 bg-img-hero" style="height: 32rem; background-image: url(assets/svg/components/abstract-bg-4.svg);">-->
<!--        &lt;!&ndash; SVG Bottom Shape &ndash;&gt;-->
<!--        <figure class="position-absolute right-0 bottom-0 left-0">-->
<!--            <svg preserveaspectratio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 1921 273">-->
<!--                <polygon fill="#fff" points="0,273 1921,273 1921,0 "></polygon>-->
<!--            </svg>-->
<!--        </figure>-->
<!--        &lt;!&ndash; End SVG Bottom Shape &ndash;&gt;-->
<!--    </div>-->

<!--    &lt;!&ndash; Content &ndash;&gt;-->
<!--    <div class="container py-5 py-sm-7">-->
<!--        <a class="d-flex justify-content-center mb-5" href="index.html">-->
<!--            <img class="z-index-2" src="\resources\ohana\img\logo.png"  alt="Image Description" style="width: 8rem;">-->
<!--        </a>-->

<!--        <div class="row justify-content-center">-->
<!--            <div class="col-md-7 col-lg-5">-->
<!--                &lt;!&ndash; Card &ndash;&gt;-->
<!--                <div class="card card-lg mb-5">-->
<!--                    <div class="card-body">-->
<!--                        &lt;!&ndash; Form &ndash;&gt;-->
<!--                        <form class="js-validate" th:action="@{/dashboard/sign-in}" method="post"-->
<!--                              th:object="${user}">-->
<!--                            <div class="text-center">-->
<!--                                <div class="mb-5">-->
<!--                                    <h1 class="display-4">Đăng nhập</h1>-->
<!--&lt;!&ndash;                                    <p>Don't have an account yet? <a href="authentication-signup-basic.html">Sign up here</a></p>&ndash;&gt;-->
<!--                                </div>-->

<!--                                <a class="btn btn-lg btn-block btn-white mb-4" href="#">-->
<!--                        <span class="d-flex justify-content-center align-items-center">-->
<!--                          <img class="avatar avatar-xss mr-2" src="\resources\dashboard\svg\brands\google.svg" alt="Image Description">-->
<!--                          Đăng nhập với Google-->
<!--                        </span>-->
<!--                                </a>-->

<!--                                <span class="divider text-muted mb-4">HOẶC</span>-->
<!--                            </div>-->

<!--                            &lt;!&ndash; Form Group &ndash;&gt;-->
<!--                            <div class="js-form-message form-group">-->
<!--                                <label class="input-label" for="signinSrEmail">Số điện thoại hoặc email</label>-->

<!--                                <input th:field="*{phoneOrEmail}" type="email" class="form-control form-control-lg" name="email" id="signinSrEmail" tabindex="1" placeholder="email@address.com" aria-label="email@address.com" required="" data-msg="Please enter a valid email address.">-->
<!--                            </div>-->
<!--                            &lt;!&ndash; End Form Group &ndash;&gt;-->

<!--                            &lt;!&ndash; Form Group &ndash;&gt;-->
<!--                            <div class="js-form-message form-group">-->
<!--                                <label class="input-label" for="signupSrPassword" tabindex="0">-->
<!--                        <span class="d-flex justify-content-between align-items-center">-->
<!--                          Mật khẩu-->
<!--&lt;!&ndash;                          <a class="input-label-secondary" href="authentication-reset-password-basic.html">Forgot Password?</a>&ndash;&gt;-->
<!--                        </span>-->
<!--                                </label>-->

<!--                                <div class="input-group input-group-merge">-->
<!--                                    <input th:field="*{password}" type="password" class="js-toggle-password form-control form-control-lg" name="password" id="signupSrPassword" data-msg="Your password is invalid. Please try again." data-hs-toggle-password-options='{-->
<!--                                 "target": "#changePassTarget",-->
<!--                                 "defaultClass": "tio-hidden-outlined",-->
<!--                                 "showClass": "tio-visible-outlined",-->
<!--                                 "classChangeTarget": "#changePassIcon"-->
<!--                               }'>-->
<!--                                    <div id="changePassTarget" class="input-group-append">-->
<!--                                        <a class="input-group-text" href="javascript:;">-->
<!--                                            <i id="changePassIcon" class="tio-visible-outlined"></i>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; End Form Group &ndash;&gt;-->

<!--                            <button type="submit" class="btn btn-lg btn-block btn-primary">Đăng nhập</button>-->
<!--                        </form>-->
<!--                        &lt;!&ndash; End Form &ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; End Card &ndash;&gt;-->


<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; End Content &ndash;&gt;-->
<!--</main>-->
<!--&lt;!&ndash; ========== END MAIN CONTENT ========== &ndash;&gt;-->


<!--&lt;!&ndash; JS Implementing Plugins &ndash;&gt;-->
<!--<script src="assets\js\vendor.min.js"></script>-->

<!--&lt;!&ndash; JS Front &ndash;&gt;-->
<!--<script src="assets\js\theme.min.js"></script>-->

<!--&lt;!&ndash; JS Plugins Init. &ndash;&gt;-->
<!--<script>-->
<!--    $(document).on('ready', function () {-->
<!--        // INITIALIZATION OF SHOW PASSWORD-->
<!--        // =======================================================-->
<!--        $('.js-toggle-password').each(function () {-->
<!--            new HSTogglePassword(this).init()-->
<!--        });-->


<!--        // INITIALIZATION OF FORM VALIDATION-->
<!--        // =======================================================-->
<!--        $('.js-validate').each(function() {-->
<!--            $.HSCore.components.HSValidation.init($(this));-->
<!--        });-->
<!--    });-->
<!--</script>-->

<!--&lt;!&ndash; IE Support &ndash;&gt;-->
<!--<script>-->
<!--    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="./assets/vendor/babel-polyfill/polyfill.min.js"><\/script>');-->
<!--</script>-->
<!--</body>-->
<!--</html>-->