<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:block th:fragment="head(title)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title ></title>
    <meta
            content="Tham gia vào mạng lưới những người đang tìm phòng - ở ghép như: sinh viên, nhân viên văn phòng ở các trường đại học và các công ty trên toàn Tp.Hồ Chí Minh."
            name="description">
    <meta content="Ohana - Tìm ở ghép, phòng trọ siêu nhanh" property="og:title">
    <meta
            content="Tham gia vào mạng lưới những người đang tìm phòng - ở ghép như: sinh viên, nhân viên văn phòng ở các trường đại học và các công ty trên toàn Tp.Hồ Chí Minh."
            property="og:description">
    <meta name="google-site-verification" content="bbbVVcDJ2-6ztUhHReDKlG3FXt6mc1w8lG58h6hc1D4">
    <meta name="cf-2fa-verify" content="RIZbXz2uVxjqXFaUpkhMFBkQdT8s1kb7">
    <link rel="stylesheet" href="/resources/ohana/css/style1.css">
    <link rel="shortcut icon" href="https://ohanaliving.vn/favicon.ico">
    <link rel="stylesheet" href="/resources/ohana/css/style-validate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link  rel="stylesheet" href="/resources/ohana/css/style-loading.css">
    <!--    <link rel="stylesheet" href="/resources/ohana/css/magnific-popup.css">-->
</DIV>