<div th:fragment="header (userResult)">
    <div>
        <div class="_1akvT">
            <div class="_3bjUj">
                <div class="_3Ob4b">
                    <ul class="m-1">
                        <span class="_1vH0j">
                            <a href="/">
                                <img class="logo" src="/resources/ohana/img/8541c2b17a0729942ed2a6f13b7b13e4.svg"
                                     alt="Ohana - Phòng cho thuê, ở ghép">
                            </a>
                        </span>
                    </ul>
                </div>
                <div class="_2k8vl">
                </div>
                <div class="_3Ob4b">
                    <ul class="m-1">
                        <th:block th:if="${userResult}!=null">
                        <span class="_1vH0j">
                            <a href="/list-post">
                                <i class="fas fa-tasks" style="color: rgb(255, 255, 255); font-size: 21px;"></i>
                                <span class="_3Uk1Q _1UWQe">Quản lí tin</span>
                            </a>
                        </span>
                        <span class="_1vH0j">
                            <a href="/post-room">
                                <i class="fas fa-plus" style="color: rgb(255, 255, 255); font-size: 21px;"></i>
                                <span class="_3Uk1Q _1UWQe">Đăng tin</span>
                            </a>
                        </span>
                        </th:block>
                        <th:block th:unless="${userResult}!=null">
                            <span class="_1vH0j">
                                <a href="/sign-in">
                                    <i class="far fa-user" style="color: rgb(255, 255, 255); font-size: 21px;"></i>
                                    <span class="_3Uk1Q _1UWQe">Đăng nhập</span>
                                </a>
                            </span>
                            <span class="_1vH0j">
                                <a href="/sign-up">
                                    <i class="fas fa-feather-alt" style="color: rgb(255, 255, 255); font-size: 21px;"></i>
                                    <span class="_3Uk1Q _1UWQe">Đăng Ký</span>
                                </a>
                            </span>
                        </th:block>
                    </ul>
                    <th:block th:if="${userResult}!=null">
                        <span>
                            <a type="button" class="rounded-circle" data-bs-toggle="dropdown" aria-expanded="false">
                                <th:block th:if="${userResult.thumbnailId}!=null">
                                    <img style=" width: 30px; height: 30px;" class="rounded-circle"
                                         th:src="
                                         ${userResult.thumbnailId.matches('((([A-Za-z]{3,9}:(?:\/\/)?)(?:[-;:&=\+\$,\w]+@)?[A-Za-z0-9.-]+|(?:www.|[-;:&=\+\$,\w]+@)[A-Za-z0-9.-]+)((?:\/[\+~%\/.\w-_]*)?\??(?:[-\+=&;%@.\w_]*)#?(?:[\w]*))?)')
                                         ? userResult.thumbnailId
                                         :'https://res.cloudinary.com/dh8nlcoul/image/upload/c_thumb,h_275,w_275/r_50/v1//'+userResult.getThumbnailId()+'?_a=ATFGlAA0'}"
                                         alt="Image Description">
                                </th:block>
                                <th:block th:unless="${userResult.thumbnailId}!=null">
                                    <img style=" width: 30px; height: 30px;" class="rounded-circle"
                                         src="https://i.pinimg.com/736x/c6/e5/65/c6e56503cfdd87da299f72dc416023d4.jpg"
                                         alt="Image Description">
                                </th:block>
                                <span style="color:white" th:text="${userResult.fullName}"></span>
                                <i class="fas fa-caret-down" style="color: white"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/myinfo">Hồ sơ của tôi</a></li>
                                <li><a class="dropdown-item" href="/password">Đổi mật khẩu</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/sign-out">Đăng xuất</a></li>
                            </ul>
                        </span>
                    </th:block>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>