<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/resources/bootstrap-5.0.2/css/bootstrap.min.css">
    <th:block th:replace="/ohana/layout/head :: head('Ohana - Tìm ở ghép, phòng trọ siêu nhanh')"/>
    <style>
        .col-md-3 {
            float: left;
        }

        .pd-25 {
            padding-left: 50px;
            padding-right: 50px;
        }

        .pd {
            padding: 10px;
        }

        /*    css upload file*/
        .image_container {
            height: 120px;
            width: 200px;
            border-radius: 6px;
            overflow: hidden;
            margin: 10px;
        }

        .image_container img {
            height: 100%;
            width: auto;
            object-fit: cover;
        }

        .image_container span {
            top: -6px;
            right: 8px;
            color: red;
            font-size: 28px;
            font-weight: normal;
            cursor: pointer;
        }

        .img_avatar {
            height: 120px;
            width: 200px;
        }

        .postroom {
            width: 200px;
            height: 200px;

        }

        .input {
            margin-left: 10px;
        }
    </style>
</head>

<body data-new-gr-c-s-check-loaded="14.1057.0" data-gr-ext-installed="" cz-shortcut-listen="true">
<th:block th:replace="/ohana/layout/modal/modal-loading :: modal-loading"/>

<div class="container">
    <div class="_3bjUj">
        <!--header-->
        <th:block th:replace="/ohana/layout/header :: header(${userResult})"/>
    </div>

    <div class="container mt-xl-5">
        <div class="text-center">
            <h3>
                ĐĂNG TIN
            </h3>
        </div>
        <form class="pt-6" id="frmPost" method="post" th:action="@{/post-room}" th:object="${postUpdateParam}">
            <input id="id" type="hidden" class="form-control " th:field="${userResult.id}">
            <div class="">
                <div class="px-2 errorTotal">
                    <label class="m-1">Tiêu đề</label>
                    <input id="title" name="title" type="text" class="form-control" th:field="${postUpdateParam.title}">
                </div>
            </div>
            <div class=" col-md-12">
                <div class="col-md-12 px-2 errorTotal">
                    <label class="m-1">Nội dung</label>
                    <textarea id="descriptionContent" name="descriptionContent" type="text" class="form-control"
                              th:field="${postUpdateParam.descriptionContent}"></textarea>
                </div>
            </div>
            <div class="d-flex col-md-12">
                <div class="col-md-4 px-2 errorTotal">
                    <label class="m-1">Loại phòng</label>
                    <select type="text" class="form-select" name="category" id="category" th:field="${postUpdateParam.categoryId}">
                    </select>
                </div>
                <div class="col-md-4 px-2 errorTotal">
                    <label class="m-1">Giới Tính</label>
                    <select type="text" class="form-select" id="gender" name="gender"
                            th:field="${postUpdateParam.rentHouse.gender}">
                    </select>
                </div>
                <div class="col-md-4 px-2 errorTotal">
                    <label class="m-1">Sức chứa</label>
                    <input type="number" class="form-control" id="capacity" name="capacity"
                           th:field="${postUpdateParam.rentHouse.capacity}">
                </div>
            </div>
            <div class="d-flex col-md-12">
                <div class="col-md-4 px-2 errorTotal">
                    <label class="m-1">Giá phòng (Đơn vị: VNĐ/Tháng)</label>
                    <input type="number" class="form-control" id="roomPrice"  name="roomPrice" th:field="${postUpdateParam.rentHouse.roomPrice}">
                </div>
                <div class="col-md-4 px-2 errorTotal">
                    <label class="m-1">Tiền cọc (Đơn vị: VNĐ/Tháng)</label>
                    <input type="number" class="form-control" id="deposit" name="deposit" th:field="${postUpdateParam.rentHouse.deposit}">
                </div>
                <div class="col-md-4 px-2 errorTotal">
                    <label class="m-1">Diện tích (m2)</label>
                    <input type="number" class="form-control" id="area" name="area" th:field="${postUpdateParam.rentHouse.area}">
                </div>
            </div>
            <div class="d-flex col-md-12">
                <div class="col-md-4 px-2 errorTotal">
                    <label class="m-1">Tiền điện (Đơn vị: VNĐ/kWh)</label>
                    <input type="text" class="form-select" name="electricityPrice" id="electricityPrice" th:field="${postUpdateParam.rentHouse.electricityPrice}">
                    </input>
                </div>
                <div class="col-md-4 px-2 errorTotal">
                    <label class="m-1">Tiền nước (Đơn vị: VNĐ/m³)</label>
                    <input type="number" class="form-control" id="waterPrice"  name="waterPrice" th:field="${postUpdateParam.rentHouse.waterPrice}">
                </div>
                <div class="col-md-4 px-2 errorTotal">
                    <label class="m-1">Tiền wifi (Đơn vị: VNĐ/Tháng)</label>
                    <input type="number" class="form-control" id="wifiPrice" name="wifiPrice" th:field="${postUpdateParam.rentHouse.wifiPrice}">
                </div>
            </div>

            <div class=" col-md-12 errorTotal">
                <label class="m-1 form-label">Tiện ích: </label>
                <div class="d-flex flex-wrap col-md-12 px-5" id="utilities" name="utilities" th:field="${postUpdateParam.utilities}">
                </div>

            </div>
            <div class="d-flex col-md-12">
                <div class="col-md-3 px-2 errorTotal">
                    <label class="m-1">Tỉnh/Thành phố</label>
                    <select type="text" class="form-select" id="province" name="province"
                            th:field="${postUpdateParam.location.provinceId}">
                    </select>
                </div>
                <div class="col-md-3 px-2 errorTotal">
                    <label class="m-1">Quận/Huyện/Thị Xã</label>
                    <select type="text" class="form-select" id="district" name="district"
                            th:field="${postUpdateParam.location.districtId}">
                    </select>
                </div>
                <div class="col-md-3 px-2 errorTotal">
                    <label class="m-1">Phường/Xã</label>
                    <select type="text" class="form-select" id="ward"  name="ward" th:field="${postUpdateParam.location.wardId}">
                    </select>
                </div>

                <div class="col-md-3 px-2 errorTotal">
                    <label class="m-1">Địa chỉ</label>
                    <input type="text" class="form-control" id="line1" name="line1" th:field="${postUpdateParam.location.line1}">
                    <!--                    <label class="error">-->
                    <!--                    </label>-->
                </div>
            </div>
            <div class="row col-md-12 mt-3">
                <div class="col-md-3 errorTotal" style="position: relative">
                    <button type="button" id="upload_widgetThumb" name="upload_widgetThumb" class="col-md-3 w-100 h-100">thumbnail
                        <input type="hidden" id="urlImageThumb" name="urlImageThumb" th:field="${postUpdateParam.thumbnailId}">
                        <!--                        <img id="imgPreview" class="col-md-3 h-100"-->
                        <!--                             src="https://content.hostgator.com/img/weebly_image_sample.png"/>-->
                    </button>
                </div>
            </div>
            <div id="showImageThumb" name="showImageThumb" class="row col-md-12 mt-3 errorTotal">
                <img id="imgPreviewThumb" name="imgPreviewThumb" class="postroom"/>
            </div>
            <div class="row col-md-12 mt-3">
                <div class="col-md-3 errorTotal"  style="position: relative">
                    <button type="button" id="upload_widget" class="col-md-3 w-100 h-100">Chọn ảnh
                        <input type="hidden" id="urlImage" name="urlImage"  th:field="${postUpdateParam.images}">
                        <!--                        <img id="imgPreview" class="col-md-3 h-100"-->
                        <!--                             src="https://content.hostgator.com/img/weebly_image_sample.png"/>-->
                    </button>
                </div>
            </div>
            <div id="showImage" class="row col-md-12 mt-3">
                <img id="imgPreview" class="postroom"/>
            </div>
            <div class="w-100 col-md-12 px-2">
                <button id="btnUpdate" name="btnUpdate" type="submit" class="btn btn-primary mt-3">Đăng tin</button>
            </div>
        </form>
    </div>
</div>

<th:block th:replace="/ohana/layout/footer :: footer"/>
<th:block th:replace="/ohana/layout/script :: script"/>

<script src="https://widget.cloudinary.com/v2.0/global/all.js"></script>
<script src="/resources/paginationjs-master/paginationjs-master/src/pagination.js"></script>
<script>
    $(".view-avatar").change(function () {
        const src = URL.createObjectURL(this.files[0]);
        this.parentElement.getElementsByClassName('img-preview')[0].src = src;
    })
</script>
<script th:inline="javascript">

    let page = {
        url: {
            doUpdatePost: App.BASE_URL_API + "/posts/" ,
            getPostById: App.BASE_URL_API + "/posts/",
            getAllCategories: App.BASE_URL_API + "/categories",
            getAllUtilities: App.BASE_URL_API + "/utilities",
            getAllGenders: App.BASE_URL_API + "/genders",
            doFilter: App.BASE_URL_API + "/posts/filter",
            getAllProvinces: App.BASE_URL_PROVINCE,
            getAllDistrictsByProvinceId: App.BASE_URL_PROVINCE + "district/",
            getAllWardsByDistrictId: App.BASE_URL_PROVINCE + "ward/",
        },
        element: {},
        loadData: {},
        commands: {},
        dialogs: {
            elements: {},
            loadData: {},
            commands: {},
            alertDanger: {}
        },
        initializeControlEvent: {},
        // let isClickInside = specifiedElement.contains(event.target)
    }
    page.dialogs.elements.frmPost = $("#frmPost");

    page.dialogs.elements.title = $('#title');
    page.dialogs.elements.descriptionContent = $('#descriptionContent');
    page.dialogs.elements.category = $('#category');
    page.dialogs.elements.gender = $('#gender');
    page.dialogs.elements.capacity = $('#capacity');
    page.dialogs.elements.roomPrice = $('#roomPrice');
    page.dialogs.elements.area = $('#area');
    page.dialogs.elements.electricityPrice = $('#electricityPrice');
    page.dialogs.elements.waterPrice = $('#waterPrice');
    page.dialogs.elements.wifiPrice = $('#wifiPrice');
    page.dialogs.elements.deposit = $('#deposit');

    page.dialogs.elements.utilities = $('#utilities');

    page.dialogs.elements.locationRegionId = $("#locationRegionId");
    page.dialogs.elements.province = $('#province');
    page.dialogs.elements.district = $('#district');
    page.dialogs.elements.ward = $('#ward');
    page.dialogs.elements.line1 = $('#line1');

    page.dialogs.elements.urlImageThumb = $('#urlImageThumb');
    page.dialogs.elements.urlImage = $('#urlImage');

    let post = new Post();
    let filter = {};
    let listPost = [];
    let min = 0;
    let max = 15000000;
    let postDTO = new PostDTO();
    let utilities = new Set();



    page.commands.getPostById = (postId) => {
        return $.ajax({
            type: "GET",
            url: "http://localhost:8080/api/posts/" + postId
        }).done((data)=>{
            post = data;
            // location = post.location

            page.dialogs.elements.title.val(post.title);
            page.dialogs.elements.descriptionContent.val(post.descriptionContent);
            page.dialogs.elements.category.val(post.category);
            page.dialogs.elements.gender.val(post.rentHouse.gender);
            page.dialogs.elements.capacity.val(post.rentHouse.content);
            page.dialogs.elements.roomPrice.val(post.rentHouse.roomPrice);
            page.dialogs.elements.area.val(post.rentHouse.area);
            page.dialogs.elements.electricityPrice.val(post.rentHouse.electricityPrice);
            page.dialogs.elements.waterPrice.val(post.rentHouse.waterPrice);
            page.dialogs.elements.wifiPrice.val(post.rentHouse.wifiPrice);
            page.dialogs.elements.deposit.val(post.rentHouse.deposit);

            page.dialogs.elements.locationRegionId.val(location.id);
            page.dialogs.elements.province.val(location.provinceId);
            page.commands.getAllDistrictsByProvinceId(location.provinceId).then(() => {
                page.dialogs.elements.district.val(location.districtId)
                page.commands.getAllWardsByDistrictId(location.districtId).then(() => {
                    page.dialogs.elements.ward.val(location.wardId);
                    page.dialogs.elements.line1.val(location.address);
                })
            })
        })
            .fail((jqXHR) => {
                alert("hahaha")
                let errors = jqXHR.responseJSON;
                let strError = "";
                if (errors) {
                    $.each(errors, (k, v) => {
                        strError += `${v}`;
                    })
                }
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: strError,
                })
            })
    }


    // $("#provinceUp").on("change", function () {
    //     let provinceId = $("#provinceUp").val();
    //     page.commands.getAllDistrict(provinceId).then(() => {
    //         let districtId = $("#districtUp").val();
    //         page.commands.getAllWard(districtId);
    //     });
    // })
    // $("#districtUp").on("change", function () {
    //     let districtId = $("#districtUp").val();
    //     page.commands.getAllWard(districtId);
    // })

    $(".btn-edit, #btnPreview").on("click", (e) => {

        rentHouseDTO.capacity = +$("#capacityUp").val();
        rentHouseDTO.gender = +$('input[type="radio"][name="genderUp"]:checked').val();
        rentHouseDTO.area = $("#areaUp").val();
        rentHouseDTO.price = +$("#priceUp").val();

        locationDTO.provinceId = $("#provinceUp").val();
        locationDTO.provinceName = $("#provinceUp").find('option:selected').text();
        locationDTO.districtId = $("#districtUp").val();
        locationDTO.districtName = $("#districtUp").find('option:selected').text();
        locationDTO.wardId = $("#wardUp").val();
        locationDTO.wardName = $("#wardUp").find('option:selected').text();
        locationDTO.locationDetail = $("#locationDetailUp").val();

        postDTO.id = post.id;
        postDTO.title = $("#titleUp").val();
        postDTO.categoryId = +$('input[type="radio"][name="kindOfRoomUp"]:checked').val();
        postDTO.description = $("#descriptionUp").val();
        postDTO.location = locationDTO;
        postDTO.rentHouse = rentHouseDTO;
        //poster
        postDTO.images = imageAdds;
        let favorite = [];
        $.each($("input[name='utilitiesCheckbox']:checked"), function () {
            favorite.push(+$(this).val());
        });
        postDTO.utilities = favorite;

        thisOnclick = $(e.target);
        $("#frmEdit").submit();

    })


    // function doEditPost(post) {
    //     $("#loadingModal").modal("show");
    //     $.ajax({
    //         type: "PUT",
    //         url: page.url.doEditPost,
    //         cache: false,
    //         contentType: false,
    //         processData: false,
    //         data: post
    //     }).done(function (mess) {
    //         $("#loadingModal").modal("hide");
    //         location.href = page.url.redirectAllListPost;
    //         showSuccess(mess)
    //     }).fail(function (x) {
    //         showError("Cập nhật bài viết không thành công")
    //         // let str = ``;
    //         // if (jqXHR.responseJSON) {
    //         //     if (jqXHR.responseJSON.message) {
    //         //         str += `<label id="message-error" class="error" for="message">${jqXHR.responseJSON.message}</lable><br>`;
    //         //     } else {
    //         //         $.each(jqXHR.responseJSON, function (key, value) {
    //         //             str += `<label id="${key}-error" class="error" for="${key}">${value}</lable><br>`;
    //         //             $("#" + key).addClass("error");
    //         //         });
    //         //     }
    //         // } else {
    //         //     str += `<label id= "message-error" class= "error" for= "message">${App.ERROR_400}</label>`;
    //         // }
    //         // $("#createModal .modal-alert-danger").removeClass('hide').addClass('show').html(str);
    //     })
    // }

    page.commands.getAllCategories = () => {
        $.ajax({
            type: "GET",
            url: page.url.getAllCategories
        }).done(function (data) {
            // $("#categories").html('');
            data.forEach((item) => {
                let str = `<option value="${item.id}">${item.title}</option>`;
                $("#category").append(str);
            });
        }).fail(function () {
            showError('Error')
        })
    }
    page.commands.getAllUtilities = () => {
        $.ajax({
            type: "GET",
            url: page.url.getAllUtilities + "?page=0&size=50&status=SHOW"
        }).done(function (data) {
            console.log(data)
            data.content.forEach((item) => {
                let str = `<div class="col-md-2" style="font-size: 1.2rem;">
                            <input type="checkbox" id="utility" name="utilitiesCheckbox" value="${item.id}">
                            <span class="mx-2">${item.name}</span>
                           </div>`;
                $('#utilities').append(str);
            });
            $("input[type=checkbox]").off("change");
            $("input[type=checkbox]").on("change", function() {
                console.log($(this).is(":checked"))
                if (!$(this).is(":checked")) {
                    utilities.delete($(this).val());
                    console.log(Array.from(utilities));
                } else {
                    utilities.add($(this).val());
                    console.log(Array.from(utilities))
                }
            })
        }).fail(function () {
            // showError('Error')
        })
    }
    page.commands.getAllGenders = () => {
        $.ajax({
            type: "GET",
            url: page.url.getAllGenders
        }).done(function (data) {
            console.log(data)
            data.forEach((item) => {
                let str = `<option value="${item.id}">${item.name}</option>`;
                $("#gender").append(str);
            });
        }).fail(function () {
            showError('Error')
        })
    }
    page.dialogs.loadData.getAllProvinces = () => {
        return $.ajax({
            type: 'GET',
            url: 'https://vapi.vnappmob.com/api/province/'
        })
            .done((data) => {
                $.each(data.results, (i, item) => {
                    let str = `<option value="${item.province_id}">${item.province_name}</option>`;

                    page.dialogs.elements.province.append(str);

                })

                addEventChangeProvince();
                addEventChangeDistrict();

            })
            .fail((jqXHR) => {
                AppBase.SweetAlert.showErrorAlert('Load Provinces fail');
            })
    }

    page.dialogs.loadData.getAllDistrictsByProvince = (provinceId) => {
        return $.ajax({
            type: 'GET',
            url: 'https://vapi.vnappmob.com/api/province/district/' + provinceId
        })
            .done((data) => {
                page.dialogs.elements.district.empty();
                $.each(data.results, (i, item) => {
                    let str = `<option value="${item.district_id}">${item.district_name}</option>`;

                    page.dialogs.elements.district.append(str);

                })


            })
            .fail((jqXHR) => {
                AppBase.SweetAlert.showErrorAlert('Load Districts fail');
            })
    }

    page.dialogs.loadData.getAllWardsByDistrict = (districtId) => {
        return $.ajax({
            type: 'GET',
            url: 'https://vapi.vnappmob.com/api/province/ward/' + districtId
        })
            .done((data) => {
                page.dialogs.elements.ward.empty();
                $.each(data.results, (i, item) => {
                    let str = `<option value="${item.ward_id}">${item.ward_name}</option>`;

                    page.dialogs.elements.ward.append(str);
                })


            })
            .fail((jqXHR) => {
                AppBase.SweetAlert.showErrorAlert('Load Wards fail');
            })
    }

    function addEventChangeProvince() {
        page.dialogs.elements.province.on("change", function () {
            let provinceId = $(this).val();

            if (provinceId !== 0) {
                page.dialogs.loadData.getAllDistrictsByProvince(provinceId).then(() => {
                    let districtId = page.dialogs.elements.district.val();
                    page.dialogs.loadData.getAllWardsByDistrict(districtId);
                })
            }
        })
    }

    function addEventChangeDistrict() {

        page.dialogs.elements.district.on("change", function () {
            let districtId = $(this).val();

            if (districtId !== 0) {

                page.dialogs.loadData.getAllWardsByDistrict(districtId);
            }

        })
    }

    function resetLocationRegion() {
        page.dialogs.loadData.getAllProvinces().then(() => {
            let provinceId = page.dialogs.elements.province.val();

            page.dialogs.loadData.getAllDistrictsByProvince(provinceId).then(() => {
                let districtId = page.dialogs.elements.district.val();

                page.dialogs.loadData.getAllWardsByDistrict(districtId);
            });
        });
    }

    page.commands.handleUpdate = () => {
        let id = Number([[${post.id}]]);
        // let avatarFileFolder = $(this).data("avatar-file-folder");
        // let avatarFileName = $(this).data("avatar-file-name");
        page.commands.getPostById(id);
    }

    $("#frmPost").validate({
        rules: {
            title: {
                required: true,
                minlength: 20,
                maxlength: 100
            },
            descriptionContent: {
                required: true,
                minlength: 20,
                maxlength: 1000
            },
            categoryId: {
                required: true,
            },
            "rentHouse.gender": {
                required: true,
            },
            "rentHouse.roomPrice": {
                required: true,
                number: true,
                min: 100000,
                max: 100000000
            },
            "rentHouse.deposit": {
                required: true,
                number: true,
                min: 100000,
                max: 100000000
            },
            "rentHouse.area": {
                required: true,
                number: true,
                min: 10,
                max: 1000
            },
            "rentHouse.capacity": {
                required: true,
                number: true,
                min: 1,
                max: 10
            },
            "rentHouse.electricityPrice": {
                required: true,
                number: true,
                min: 1000,
                max: 20000
            },
            "rentHouse.waterPrice": {
                required: true,
                number: true,
                min: 1000,
                max: 30000
            },
            "rentHouse.wifiPrice": {
                required: true,
                number: true,
                min: 10000,
                max: 3000000
            },
            "location.province": {
                required: true,
            },
            "location.district": {
                required: true,
            },
            "location.ward": {
                required: true,
            },
            "location.line1": {
                required: true,
                minlength: 5,
                maxlength: 255
            }
        },
        messages: {
            title: {
                required: "Tiêu đề không được để trống",
                minlength: "Tiêu đề không được dưới 20 kí tự",
                maxlength: "Tiêu đề không được vượt quá 100 kí tự"
            },
            descriptionContent: {
                required: "Mô tả không được để trống",
                minlength: "Mô tả không được dưới 20 kí tự",
                maxlength: "Mô tả không được vượt quá 1000 kí tự",
            },
            categoryId: {
                required: "Vui lòng chọn loại phòng",
            },
            "rentHouse.gender": {
                required: "Vui lòng chọn giới tính",
            },
            "rentHouse.roomPrice": {
                required: "Giá không được để trống",
                number: "nhập số",
                min: "Giá không được dưới 100.000 đồng",
                max: "Giá không được vượt quá 100.000.000 đồng"
            },
            "rentHouse.deposit": {
                required: "Giá không được để trống",
                number: "nhập số",
                min: "Giá không được dưới 100.000 đồng",
                max: "Giá không được vượt quá 100.000.000 đồng"
            },
            "rentHouse.area": {
                required: "Diện tích không được để trống",
                number: "Chỉ nhập số",
                min: "Diện tích không được dưới 10 m2",
                max: "Diện tích không được vượt quá 1000 m2"
            },
            "rentHouse.capacity": {
                required: "Sức chứa không được để trống",
                number: "Chỉ nhập số",
                min: "Sức chứa không được dưới 1 người",
                max: "Sức chứa không vượt quá 10 người"
            },
            "rentHouse.electricityPrice": {
                required: "Tiền điện không được để trống",
                number: "Chỉ nhập số",
                min: "Tiền điện dưới 1000 đồng",
                max: "Tiền điện vượt quá 20.000 đồng"
            },
            "rentHouse.waterPrice": {
                required: "Tiền nước không được để trống",
                number: "Chỉ nhập số",
                min: "Tiền nước không dưới 1000 đồng",
                max: "Tiền nước không vượt quá 30.000 đồng"
            },
            "rentHouse.wifiPrice": {
                required: "Tiền wifi không được để trống",
                number: "Chỉ nhập số",
                min: "Tiền wifi không dưới 10.000 đồng",
                max: "Tiền wifi không vượt quá 3.000.000 đồng"
            },
            "location.province": {
                required: "Vui lòng chọn Tỉnh/Thành Phố",
            },
            "location.district": {
                required: "Vui lòng chọn Quận/Huyện/Thị Xã",
            },
            "location.ward": {
                required: "Vui lòng chọn Phường/Xã",
            },
            "location.line1": {
                required: "Địa chỉ không được để trống",
                minlength: "Địa chỉ không được dưới 1 kí tự",
                maxlength: "Địa chỉ không được vượt quá 255 kí tự"
            }
        },
        submitHandler: function () {
            doUpdateRoom();
        }
    });

    let doUpdateRoom = () => {
        let idUser = $("#id").val();
        let rentHouse = new RentHouse();
        let location = new LocationDTO();
        // let images = listImageId;

        let title = $("#title").val();
        let descriptionContent = $("#descriptionContent").val();
        let categories = $("#category").val();

        location.provinceId = $("#province").val();
        location.provinceName = $("#province").find("option:selected").text();
        location.districtId = $("#district").val();
        location.districtName = $("#district").find("option:selected").text();
        location.wardId = $("#ward").val();
        location.wardName = $("#ward").find("option:selected").text();
        location.line1 = $("#line1").val();

        rentHouse.roomPrice = $("#roomPrice").val();
        rentHouse.deposit = $("#deposit").val();
        rentHouse.area = $("#area").val();
        rentHouse.capacity = $("#capacity").val();
        rentHouse.gender = $("#gender").val();
        rentHouse.electricityPrice = $("#electricityPrice").val();
        rentHouse.waterPrice = $("#waterPrice").val();
        rentHouse.wifiPrice = $("#wifiPrice").val();

        postDTO.title = title;
        postDTO.descriptionContent = descriptionContent;
        postDTO.categoryId = categories;
        postDTO.rentHouse = rentHouse;
        postDTO.location = location;
        postDTO.thumbnailId = thumbnailId;
        postDTO.images = images;
        postDTO.idUser = idUser;
        postDTO.utilities = Array.from(utilities);

        let postId = Number([[${post.id}]]);

        $.ajax({
            headers: {
                'accept': 'application/json',
                'content-type': 'application/json'
            },
            type: "PATCH",
            url: page.url.doUpdatePost + postId,
            data: JSON.stringify(postDTO)
        })
            .done((data) => {
                clearForm();
                showSuccess("đăng bài thành công!!!")

            })
            .fail((jqXHR) => {
                console.log(jqXHR)
                let errors = jqXHR.responseJSON;
                let message = errors.message;
                console.log(message)
                showError(message);
            })
    }




    // page.commands.handleUpdate = () => {
    //     let id = Number([[${post.id}]]);
    //     let avatarFileFolder = $(this).data("avatar-file-folder");
    //     let avatarFileName = $(this).data("avatar-file-name");
    //     page.commands().done((data) => {
    //
    //         // let avatarUrl = App.BASE_URL_CLOUD_IMAGE + "/" + App.SCALE_IMAGE_W600_H650_Q100 + "/" + avatarFileFolder + "/" + avatarFileName;
    //         // page.dialogs.commands.loadImageToCanvasUp(null, "", avatarUrl);
    //
    //         post = data;
    //         location = post.location;
    //         // page.dialogs.elements.post.val(id);
    //         page.dialogs.elements.title.val(post.title);
    //         page.dialogs.elements.descriptionContent.val(post.descriptionContent);
    //         page.dialogs.elements.category.val(post.category);
    //         page.dialogs.elements.gender.val(post.rentHouse.gender);
    //         page.dialogs.elements.capacity.val(post.rentHouse.content);
    //         page.dialogs.elements.roomPrice.val(post.rentHouse.roomPrice);
    //         page.dialogs.elements.area.val(post.rentHouse.area);
    //         page.dialogs.elements.electricityPrice.val(post.rentHouse.electricityPrice);
    //         page.dialogs.elements.waterPrice.val(post.rentHouse.waterPrice);
    //         page.dialogs.elements.wifiPrice.val(post.rentHouse.wifiPrice);
    //         page.dialogs.elements.deposit.val(post.rentHouse.deposit);
    //
    //         page.dialogs.elements.locationRegionId.val(location.id);
    //         page.dialogs.elements.province.val(location.provinceId);
    //         page.commands.getAllDistrictsByProvinceId(location.provinceId).then(() => {
    //             page.dialogs.elements.district.val(location.districtId)
    //             page.commands.getAllWardsByDistrictId(location.districtId).then(() => {
    //                 page.dialogs.elements.ward.val(location.wardId);
    //                 page.dialogs.elements.line1.val(location.address);
    //             })
    //         })
    //     }).fail((err)=>console.log(err));
    //     console.log(data)
    // }

    // page.dialogs.elements.btnUpdate.on("click", () => {
    //     page.dialogs.elements.frmUpdateCustomer.submit();
    // })

    // page.dialogs.elements.frmUpdateCustomer.validate({
    //     rules: {
    //         fullNameUp: {
    //             required: true,
    //             minlength: 5,
    //             maxlength: 50
    //         },
    //         emailUp: {
    //             required: true,
    //             minlength: 5,
    //             maxlength: 50,
    //             email: true
    //         },
    //         phoneUp: {
    //             // phone_valid: true,
    //             required: true,
    //         }
    //     },
    //     messages: {
    //         fullNameUp: {
    //             required: "Vui lòng nhập tên đầy đủ",
    //             minlength: "Độ dài tối thiểu là 5 ký tự",
    //             maxlength: "Độ dài tối đa là 100 ký tự"
    //         },
    //         emailUp: {
    //             required: "Vui lòng nhập email đầy đủ",
    //             minlength: "Độ dài tối thiểu là 5 ký tự",
    //             maxlength: "Độ dài tối đa là 100 ký tự",
    //             email: "Định dạng email không đúng"
    //         },
    //         phoneUp: {
    //             // phone_valid: "Định dạng số điện thoại không đúng",
    //             required: "Vui lòng nhập số điện thoại đầy đủ"
    //         }
    //     },
    //     errorLabelContainer: "#modalUpdateCustomer .modal-body .modal-alert-danger",
    //     errorPlacement: function (error) {
    //         error.appendTo("#modalUpdateCustomer .modal-body .modal-alert-danger");
    //     },
    //     showErrors: function () {
    //         if (this.numberOfInvalids() > 0) {
    //             page.dialogs.alertDanger.modalUpdateCustomer.removeClass("hide").addClass("show");
    //         } else {
    //             page.dialogs.alertDanger.modalUpdateCustomer.removeClass("show").addClass("hide").empty();
    //             $("#modalUpdateCustomer input.error").removeClass("error");
    //         }
    //         this.defaultShowErrors();
    //     },
    //     submitHandler: function () {
    //         customer.id = page.dialogs.elements.customerIdUp.val();
    //         customer.fullName = page.dialogs.elements.fullNameUp.val();
    //         customer.email = page.dialogs.elements.emailUp.val();
    //         customer.phone = page.dialogs.elements.phoneUp.val();
    //
    //
    //         locationRegion.id = page.dialogs.elements.locationRegionIdUp.val();
    //         locationRegion.provinceId = page.dialogs.elements.provinceUp.val();
    //         locationRegion.provinceName = page.dialogs.elements.provinceUp.find("option:selected").text();
    //         locationRegion.districtId = page.dialogs.elements.districtUp.val();
    //         locationRegion.districtName = page.dialogs.elements.districtUp.find("option:selected").text();
    //         locationRegion.wardId = page.dialogs.elements.wardUp.val();
    //         locationRegion.wardName = page.dialogs.elements.wardUp.find("option:selected").text();
    //         locationRegion.address = page.dialogs.elements.addressUp.val();
    //
    //         let formData = new FormData();
    //         formData.append("id", customer.id);
    //         formData.append("fullName", customer.fullName);
    //         formData.append("email", customer.email);
    //         formData.append("phone", customer.phone);
    //         formData.append("balance", customer.balance);
    //
    //         formData.append("locationId", locationRegion.id);
    //         formData.append("provinceId", locationRegion.provinceId);
    //         formData.append("provinceName", locationRegion.provinceName);
    //         formData.append("districtId", locationRegion.districtId);
    //         formData.append("districtName", locationRegion.districtName);
    //         formData.append("wardId", locationRegion.wardId);
    //         formData.append("wardName", locationRegion.wardName);
    //         formData.append("address", locationRegion.address);
    //
    //         formData.append("file", page.dialogs.elements.imageFileUp[0].files[0]);
    //         console.log("formData:", 1)
    //         page.commands.doUpdateCustomer(formData);
    //     }
    // })


    // $("#frmEdit").validate({
    //     rules: {
    //         kindOfRoomUp: {
    //             required: true
    //         },
    //         capacityUp: {
    //             required: true,
    //             min: 1
    //         },
    //         genderUp: {
    //             required: true,
    //         },
    //         areaUp: {
    //             required: true,
    //             min: 10
    //         },
    //         priceUp: {
    //             required: true,
    //             maxlength: 9,
    //             min: 0
    //         },
    //         locationDetailUp: {
    //             required: true,
    //         },
    //         titleUp: {
    //             required: true,
    //             maxlength: 50,
    //         },
    //         descriptionUp: {
    //             required: true,
    //             maxlength: 1500,
    //             minlength: 10,
    //         }
    //     },
    //     messages: {
    //
    //         kindOfRoomUp: {
    //             required: "Vui lòng chọn loại phòng</br>"
    //         },
    //         capacityUp: {
    //             required: "Vui lòng nhập sức chứa",
    //             min: "Số người phải lớn hơn 0"
    //         },
    //         genderUp: {
    //             required: "Vui chọn giới tính</br>",
    //         },
    //         areaUp: {
    //             required: "Vui lòng nhập diện tích",
    //             min: "Diện tích phải lớn hơn 10 m2"
    //         },
    //         priceUp: {
    //             required: "Vui lòng nhập giá",
    //             maxlength: "Vui lòng nhập giá ít hơn 999.999.999",
    //             min: "Giá phải từ 0 trở đi",
    //         },
    //         locationDetailUp: {
    //             required: "Vui lòng nhập địa chỉ cụ thể"
    //         },
    //         titleUp: {
    //             required: "Vui lòng nhập tiêu đề",
    //             maxlength: "Vui lòng nhập ít hơn 50 kí tự",
    //         },
    //         descriptionUp: {
    //             required: "Vui lòng nhập mô tả",
    //             maxlength: "Vui lòng nhập ít hơn 1500 kí tự",
    //             minlength: "Vui lòng nhập nhiều hơn 10 kí tự",
    //         }
    //     }, errorPlacement: function (error, element) {
    //         if (element.is(":radio") && $(element).attr('id') === "kindOfRoomUp_1") {
    //             error.appendTo(element.parents('#kindOfRoomUp'));
    //         } else if (element.is(":radio") && $(element).attr('id') === "genderUp_1") {
    //             error.appendTo(element.parents('#genderUp'));
    //         } else { // This is the default behavior
    //             error.insertAfter(element);
    //         }
    //     },
    //     submitHandler: function () {
    //         $("#checkQuantityImage").html('');
    //         if (postDTO.images.length + postMediaOrl.length < 5) {
    //             let str = `<label id="title-error" class="error" for="title">Vui lòng chọn trên 5 ảnh</label>`;
    //             $("#checkQuantityImage").append(str);
    //         } else if (postDTO.images.length + postMediaOrl.length > 10) {
    //             let str = `<label id="title-error" class="error" for="title">Vui lòng chọn ít hơn 10 ảnh</label>`;
    //             $("#checkQuantityImage").append(str);
    //         } else {
    //             form.append('location.provinceId', postDTO.location.provinceId);
    //             form.append('location.provinceName', postDTO.location.provinceName);
    //             form.append('location.districtId', postDTO.location.districtId);
    //             form.append('location.districtName', postDTO.location.districtName);
    //             form.append('location.wardId', postDTO.location.wardId);
    //             form.append('location.wardName', postDTO.location.wardName);
    //             form.append('location.locationDetail', postDTO.location.locationDetail);
    //             form.append('rentHouse.price', postDTO.rentHouse.price);
    //             form.append('rentHouse.capacity', postDTO.rentHouse.capacity);
    //             form.append('rentHouse.area', postDTO.rentHouse.area);
    //             form.append('rentHouse.genderId', postDTO.rentHouse.gender);
    //             // form.append('poster', postDTO.poster);
    //             form.append('utilities', postDTO.utilities);
    //             form.append('id', postDTO.id);
    //             form.append('title', postDTO.title);
    //             form.append('categoryId', postDTO.categoryId);
    //             form.append('description', postDTO.description);
    //             console.log('imageCover', imageCover)
    //             if ($("#coverImage").val() === '') {
    //                 form.append('postMediaThumbnail.id', imageCover.id);
    //                 form.append('postMediaThumbnail.file', new File([null], null, {
    //                     type: null,
    //                 }));
    //             } else {
    //                 form.append('postMediaThumbnail.id', null);
    //                 form.append('postMediaThumbnail.file', imageCover);
    //             }
    //             console.log('images', images)
    //             for (let i = 0; i < postDTO.images.length; i++) {
    //                 form.append(`postMediaImages[${i}].id`, null);
    //                 form.append(`postMediaImages[${i}].file`, postDTO.images[i]);
    //             }
    //             for (let i = 0; i < postMediaOrl.length; i++) {
    //                 form.append(`postMediaImages[${i + postDTO.images.length}].id`, postMediaOrl[i].id);
    //                 form.append(`postMediaImages[${i}].file`, new File([null], null, {
    //                     type: null,
    //                 }));
    //             }
    //             doEditPost(form);
    //
    //         }
    //     }
    // })

    page.loadData = () => {
        page.commands.getAllCategories();
        page.commands.getAllUtilities();
        page.commands.getAllGenders();
        resetLocationRegion();
            page.commands.handleUpdate();
    }

    //img
    var imageCover = new PostMedia();
    var postMediaOrl = [];
    var images = [];
    var imageAdds = [];
    imageCover = post.thumbnailUrl;
    // postMediaOrl = post.imageUrls;

    // function image_select_cover(el) {
    //     imageCover = $(el).prop('files')[0];
    // }
    //
    // function image_select(el) {
    //     // let form =new FormData();
    //     // let imageAdd = $(el).prop('files')[0];
    //     // form.append('images',imageAdd);
    //     // form.append('images',imageAdd);
    //     // console.log(imageAdd);
    //     // doCreatePost(form);
    //     let image = document.getElementById('image').files;
    //     for (i = 0; i < image.length; i++) {
    //         if (check_duplicate(image[i].name)) {
    //             images.push({
    //                 "name": image[i].name,
    //                 "url": URL.createObjectURL(image[i]),
    //                 "file": image[i],
    //             })
    //             let imageAdd = $(el).prop('files')[i];
    //             imageAdds.push(imageAdd);
    //         } else {
    //             alert(image[i].name + " ảnh này đã được chọn");
    //         }
    //     }
    //     document.getElementById('form').reset();
    //     document.getElementById('container').innerHTML = image_show();
    // }
    //
    // function image_show() {
    //     var image = "";
    //     postMediaOrl.forEach((i, index) => {
    //         image += `<div class="image_container d-flex justify-content-center position-relative">
   	//   	  	  	  <img class="list-img" src="${i.fileUrl}" alt="Image">
   	//   	  	  	  <span  onclick="delete_image_Orl(` + postMediaOrl.indexOf(i) + `)">&times;</span>
   	//   	  	  </div>`;
    //     })
    //     images.forEach((i, index) => {
    //         image += `<div class="image_container d-flex justify-content-center position-relative">
   	//   	  	  	  <img class="list-img" src="` + i.url + `" alt="Image">
   	//   	  	  	  <span  onclick="delete_image(` + images.indexOf(i) + `)">&times;</span>
   	//   	  	  </div>`;
    //     })
    //     return image;
    // }
    //
    //
    // function delete_image(e) {
    //
    //     images.splice(e, 1);
    //     imageAdds.splice(e, 1);
    //     document.getElementById('container').innerHTML = image_show();
    // }
    //
    // function delete_image_Orl(e) {
    //     postMediaOrl.splice(e, 1);
    //
    //     // post.imageUrls.splice(e,1);
    //
    //     document.getElementById('container').innerHTML = image_show();
    // }
    //
    // function check_duplicate(name) {
    //     var image = true;
    //     if (images.length > 0) {
    //         for (e = 0; e < images.length; e++) {
    //             if (images[e].name == name) {
    //                 image = false;
    //                 break;
    //             }
    //         }
    //     }
    //     return image;
    // }
    //
    // function get_image_data() {
    //     var form = new FormData()
    //     let fileReader = new FileReader();
    //     for (let index = 0; index < images.length; index++) {
    //         form.append('images', images[index]['file']);
    //         // fileReader.readAsDataURL(images[index]);
    //         // form.append("file[" + index + "]", images[index]['file']);
    //     }
    //
    //     return form;
    // }


    $(function () {
        page.loadData();

        // $("#capacity").val(post.category);
        // $("#area").val(post.rentHouse.area);
        // $("#roomPrice").val(post.rentHouse.roomPrice);
        //
        // $("#line1").val(post.location.line1);
        //
        // $("#title").val(post.title);
        // $("#description").val(post.descriptionContent);
        // $("#img-preview").attr("src", imageCover.fileUrl);

        // page.commands.getAllProvince().then(function () {
        //     $("#province").val(post.location.provinceId);
        // })
        // page.commands.getAllDistrict(post.location.provinceId).then(function () {
        //     $("#district").val(post.location.districtId);
        //
        // });
        // page.commands.getAllWard(post.location.districtId).then(function () {
        //     $("#ward").val(post.location.wardId);
        // });
        // document.getElementById('container').innerHTML = image_show();
    })

</script>
</body>

</html>