<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/resources/bootstrap-5.0.2/css/bootstrap.min.css">
    <th:block th:replace="/ohana/layout/head :: head('Ohana - Tìm ở ghép, phòng trọ siêu nhanh')"/>
    <link rel="stylesheet" href="/resources/ohana/css/error.css">
</head>

<body data-new-gr-c-s-check-loaded="14.1057.0" data-gr-ext-installed="" cz-shortcut-listen="true">

<div class="container text-center">
    <div class="_3bjUj">
        <th:block th:replace="/ohana/layout/header :: header(${userResult})"/>
    </div>

</div>
<div class="mt-5" style="text-align: center">
    <h3>Vui lòng lấy lại mật khẩu trong gmail của bạn</h3>
    <h4 ><a href="https://mail.google.com/mail/u/0/#inbox" style="color: blue" target="_blank">Click để đến trang gmail</a></h4>
</div>

<th:block th:replace="/ohana/layout/script :: script"/>
</body>

<footer id="footer">
    <th:block th:replace="/ohana/layout/footer :: footer"/>
</footer>

</html>