<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/resources/bootstrap-5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/ohana/css/dataTable.css">
    <th:block th:replace="/ohana/layout/head :: head('Ohana - Tìm ở ghép, phòng trọ siêu nhanh')"/>
    <style>
        tr th {
            text-align: center;
        }
    </style>
</head>

<body data-new-gr-c-s-check-loaded="14.1057.0" data-gr-ext-installed="" cz-shortcut-listen="true"
      style="padding-bottom: 90px">
<div class="container">
    <div class="_3bjUj">
        <!--header-->
        <th:block th:replace="/ohana/layout/header :: header(${userResult})"/>
    </div>

    <div class="body ">
        <div class="row align-items-start" style="flex: 1">
            <br>
            <th:block th:replace="/ohana/layout/list/status-post :: status-post"/>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Understood</button>
                        </div>
                    </div>
                </div>
            </div>
            <label id="notification"></label>
            <div id="noLength"></div>
            <table class="table align-middle mb-0 bg-white" id="tbPost" style="width: 100%">
                <thead class="bg-light">

                </thead>
                <tbody>

                </tbody>


            </table>
        </div>
    </div>

</div>
<footer id="footer">
    <th:block th:replace="/ohana/layout/footer :: footer"/>
</footer>
</body>

<th:block th:replace="/ohana/layout/script :: script"/>
<script src="/resources/ohana/js/dataTable.js"></script>

<script th:inline="javascript">
    let userId = Number([[${userResult.id}]]);
    let table;
    let page = {
        url: {
            getAllPostPublished: App.BASE_URL_API + "/posts/" + userId + "/user/PUBLISHED/status?page=0&size=100",
            getAllPendingReview: App.BASE_URL_API + "/posts/" + userId + "/user/PENDING_REVIEW/status?page=0&size=100",
            getAllRefused: App.BASE_URL_API + "/posts/" + userId + "/user/REFUSED/status?page=0&size=100",
            getAllOverRoom: App.BASE_URL_API + "/posts/" + userId + "/user/OVER_ROOM/status?page=0&size=100",
            getPostById: App.BASE_URL_API + "/posts/",
            // getAllCategories: App.BASE_URL_API + "/categories",
            // getAllUtilities: App.BASE_URL_API + "/utilities",
            getAllProvinces: App.BASE_URL_PROVINCE,
            doCreatePost: App.BASE_URL_API + "/posts/postNews",
            doUpdateStatus: App.BASE_URL_API + "/posts/",
            doDelete: App.BASE_URL_API + "/posts/status/",


        },
        element: {},
        loadData: {},
        commands: {},
        initializeControlEvent: {}

    }
    let post = new Post();
    let user = new User();
    let locationResult = new LocationRegion();
    let rentHouse = new RentHouse();
    let arr = []
    let currBtn = "btnPendingReview";
    $("#btnPostPublished").on('click', function (e) {
        currBtn = $("#btnPostPublished").attr("id");
        disableBtn()
        page.commands.getAllPostPublished();
    })

    $("#btnPostOverRoom").on('click', function () {
        currBtn = $("#btnPostOverRoom").attr("id");
        disableBtn()
        page.commands.getAllPostOverRoom();
    })

    $("#btnPendingReview").on('click', function () {
        currBtn = $("#btnPendingReview").attr("id");
        disableBtn()
        page.commands.getAllPendingReview();
    })

    $("#btnRefused").on('click', function () {
        currBtn = $("#btnRefused").attr("id");
        disableBtn()
        page.commands.getAllRefused();
    })

    const disableBtn = (name) => {
        let elements = document.getElementsByClassName("btn-check");
        for (let el of elements) {
            if (el.getAttribute("id") === currBtn) {
                $(el).attr("disabled", true)
            } else {
                $(el).attr("disabled", false)
            }
        }
    }

    $(".btn-link").on("click", function () {
        let id = $(this).data("id");
        getPostById(id).then(function () {
        })
    })


    function editPost() {
        $(".btn-edit").on('click', function () {
            let id = $(this).data("id");
            alert(id)
        })
    }


    function getPostById(postId) {
        return $.ajax({
            type: "GET",
            url: page.url.getPostById + "/" + postId,
        }).done(function (data) {
        }).fail(function () {
            showError("Get Post Fail")
        })
    }


    page.commands.getAllPostPublished = () => {
        removeDataTable()
        $.ajax({
            type: "GET",
            url: page.url.getAllPostPublished
        }).done(function (data) {
            if (data.content.length == 0) {
                showNoLengthPost()
                return;
            }
            $("#noLength").empty();
            $("#notification").html('');
            let srt = ` <label >Tổng số :${data.content.length}</label>`
            $("#notification").prepend(srt);
            $("#tbPost thead").html('');
            let tr = `<tr>
                            <th class= "col-1" >Ảnh</th>
                            <th class= "col-3">Tên bài đăng</th>
                            <th class= "col-3">Địa chỉ</th>
                            <th class="text-end" style="min-width: 100px">Giá phòng</th>
                            <th style="min-width: 100px" class= "col-1">Ngày đăng</th>
                            <th class= "col-1">Trạng thái</th>
                            <th class= "col-1" >Quản lý</th>
                       </tr>`;
            $("#tbPost thead").prepend(tr);
            $("#tbPost tbody").html('');
            let sizeDefault = 10;
            if (data.length < sizeDefault) {
                for (let i = 0; i < 10 - data.length; i++) {
                    let str = `</br>`;
                    $("#tbPost tbody").prepend(str);
                }
            }
            data.content.forEach((item) => {
                post = item;
                user = post.user;
                locationResult = post.location;
                rentHouse = post.rentHouse;
                if (rentHouse.status) {
                    rentHouse.status = "Hết phòng"
                } else {
                    rentHouse.status = "Còn phòng"
                }
                let image_thumbnail = App.BASE_URL_CLOUD_IMAGE + "/" + App.SCALE_IMAGE_W600_H650_Q100 + "/l_l_cloudinary_icon,c_limit,w_50,h_50,o_60/" + item.thumbnailId + ".jpg";

                let str = `  <tr id="tr_${post.id}">
                    <td class= "col-1">
                        <div class="d-flex align-items-center">
                            <img src="${image_thumbnail}" alt=""
                                 style="width: 50px; height: 50px" class="rounded-1"/>
                        </div>
                    </td>
                    <td class= "col-3">
                        <div class="">
                        <a href="/${post.id}/room" target="_blank">
                          <p class="fw-bold mb-1 text-decoration-underline">${post.title}</p>
                        </a>
                        </div>
                    </td>
                    <td class= "col-3">
                        <p class="fw-normal mb-1">${locationResult.line1}, ${locationResult.wardName}, ${locationResult.districtName}, ${locationResult.provinceName}</p>
                    </td>
                    <td class= "col-1">
                        <p class="fw-normal text-end mb-1">${new Intl.NumberFormat('de-DE').format(rentHouse.roomPrice)} đ</p>
                    </td>
                    <td class= "col-1">
                        <p class="fw-normal mb-1">${moment(post.createdAt).format("DD-MM-yyyy")}</p>
                    </td>


                    <td class= "col-1">
                        <a type="button" class="btn btn-outline-warning btn-status" style="min-width: 120px " data-id="${post.id}">
                            Hết phòng
                        </a>
                    </td>
                    <td class= "col-1">
                        <div class="d-flex align-items-center">
                            <div class="">
                               <a href="/${post.id}/edit-room" type="button" class="btn btn-outline-primary btn-edit" > Sửa</a>
                            </div>
                            <div style="padding-left: 10px">
                                <a type="button" class="btn btn-outline-danger btn-delete" data-id="${post.id}"  >Xóa</a>
                            </div>
                        </div>
                    </td>
                </tr>`;
                $("#tbPost tbody").prepend(str);
            });
            $("#tbPost").DataTable();

            // editPost();
            handlerShowConfirmRefused();
            handlerDelete();
        }).fail(function () {
            showError('Error')
        })
    }

    page.commands.getAllPostOverRoom = () => {
        removeDataTable()
        $.ajax({
            type: "GET",
            url: page.url.getAllOverRoom
        }).done(function (data) {
            if (data.content.length == 0) {
                showNoLengthPost()
                return;
            }
            $("#noLength").empty();
            $("#notification").html('');
            let srt = ` <label >Tổng số :${data.content.length}</label>`
            $("#notification").prepend(srt);
            $("#tbPost thead").html('');
            let tr = `<tr>
                            <th class= "col-1" >Ảnh</th>
                            <th class= "col-3">Tên bài đăng</th>
                            <th class= "col-3">Địa chỉ</th>
                            <th class="text-end" style="min-width: 100px">Giá phòng</th>
                            <th style="min-width: 100px" class= "col-1">Ngày đăng</th>
                            <th class= "col-1">Trạng thái</th>
                            <th class= "col-1">Quản lý</th>
                       </tr>`;
            $("#tbPost thead").prepend(tr);
            $("#tbPost tbody").html('');
            let sizeDefault = 10;
            if (data.length < sizeDefault) {
                for (let i = 0; i < 10 - data.length; i++) {
                    let str = `</br>`;
                    $("#tbPost tbody").prepend(str);
                }
            }
            data.content.forEach((item) => {
                post = item;
                user = post.user;
                locationResult = post.location;
                rentHouse = post.rentHouse;
                if (rentHouse.status) {
                    rentHouse.status = "Hết phòng"
                } else {
                    rentHouse.status = "Còn phòng"
                }
                let image_thumbnail = App.BASE_URL_CLOUD_IMAGE + "/" + App.SCALE_IMAGE_W600_H650_Q100 + "/l_l_cloudinary_icon,c_limit,w_50,h_50,o_60/" + item.thumbnailId + ".jpg";

                let str = `  <tr id="tr_${post.id}">
                    <td class= "col-1">
                        <div class="d-flex align-items-center">
                            <img src="${image_thumbnail}" alt=""
                                 style="width: 50px; height: 50px" class="rounded-1"/>
                        </div>
                    </td>
                    <td class= "col-3">
                        <div class="">
                             <a href="/${post.id}/room" target="_blank">
                          <p class="fw-bold mb-1 text-decoration-underline">${post.title}</p>
                        </a>
                        </div>
                    </td>
                    <td class= "col-3">
                        <p class="fw-normal mb-1">${locationResult.line1}, ${locationResult.wardName}, ${locationResult.districtName}, ${locationResult.provinceName}</p>
                    </td>
                    <td class= "col-1">
                        <p class="fw-normal text-end mb-1">${new Intl.NumberFormat('de-DE').format(rentHouse.roomPrice)} đ</p>
                    </td>
                    <td class= "col-1">
                        <p class="fw-normal mb-1">${moment(post.createdAt).format("DD-MM-yyyy")}</p>
                    </td>
                    <td class= "col-1">
                        <a type="button" class="btn btn-outline-success btn-status" style="min-width: 120px " data-id="${post.id}">
                            Còn phòng
                        </a>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="me-1">
                                <a href="/${post.id}/edit-room" type="button" class="btn btn-outline-primary btn-edit">Sửa</a>
                            </div>
                            <div class="">
                                <a type="button" class="btn btn-outline-danger btn-delete" data-id="${post.id}" >Xóa</a>
                            </div>
                        </div>
                    </td>
                </tr>`;
                $("#tbPost tbody").prepend(str);
            });
            $("#tbPost").DataTable();


            // editPost();
            handlerShowConfirmRefused();
            handlerDelete();
        }).fail(function () {
            showError('Error')
        }).always(() => {
        })

    }
    page.commands.getAllPendingReview = () => {
        removeDataTable()
        $.ajax({
            type: "GET",
            url: page.url.getAllPendingReview
        }).done(function (data) {
            if (data.content.length == 0) {
                showNoLengthPost()
                return;
            }
            $("#noLength").empty();
            $("#notification").html('');
            let srt = ` <label >Tổng số :${data.content.length}</label>`
            $("#notification").prepend(srt);
            $("#tbPost thead").html('');
            let tr = `
                <tr>
                    <th class= "col-2" >Ảnh</th>
                    <th class= "col-4">Tên bài đăng</th>
                    <th class= "col-4">Địa chỉ</th>
                    <th class="text-end" style="min-width: 100px">Giá phòng</th>
                    <th style="min-width: 100px" class= "col-1">Ngày đăng</th>
                </tr>`;
            $("#tbPost thead").prepend(tr);
            $("#tbPost tbody").html('');
            let sizeDefault = 10;
            if (data.length < sizeDefault) {
                for (let i = 0; i < 10 - data.length; i++) {
                    let str = `</br>`;
                    $("#tbPost tbody").prepend(str);
                }
            }
            data.content.forEach((item) => {
                let image_thumbnail = App.BASE_URL_CLOUD_IMAGE + "/" + App.SCALE_IMAGE_W600_H650_Q100 + "/l_l_cloudinary_icon,c_limit,w_50,h_50,o_60/" + item.thumbnailId + ".jpg";
                post = item;
                user = post.user;
                locationResult = post.location;
                rentHouse = post.rentHouse;
                let str = `     <tr>
                    <td class= "col-1">
                        <div class="d-flex align-items-center">
                            <img src="${image_thumbnail}" alt=""
                                 style="width: 50px; height: 50px" class="rounded-3"/>
                        </div>
                    </td>
                    <td class= "col-4">
                        <div class="">
                            <a href="/${post.id}/room" target="_blank">
                          <p class="fw-bold mb-1 text-decoration-underline">${post.title}</p>
                        </a>
                        </div>
                    </td>
                    <td class= "col-4">
                               <p class="fw-normal mb-1">${locationResult.line1}, ${locationResult.wardName}, ${locationResult.districtName}, ${locationResult.provinceName}</p>
                    </td>
                     <td class= "col-1">
                        <p class="fw-normal text-end mb-1">${new Intl.NumberFormat('de-DE').format(rentHouse.roomPrice)} đ</p>
                    </td>
                    <td class= "col-1">
                        <p class="fw-normal mb-1">${moment(post.createdAt).format("DD-MM-yyyy")}</p>
                    </td>
                </tr>`;
                $("#tbPost tbody").prepend(str);
            });
            $("#tbPost").DataTable();

        }).fail(function () {
            showError('Error')
        })
    }

    function removeDataTable() {
        $("#notification").empty()
        $("#tbPost_wrapper").empty();
        let tablee = `<table class="table align-middle mb-0 bg-white" id="tbPost" style="width: 100%">
                            <thead class="bg-light">

                            </thead>
                            <tbody>

                            </tbody>
                       </table>`;
        $("#tbPost_wrapper").append(tablee);
    }

    page.commands.getAllRefused = () => {
        removeDataTable();
        $.ajax({
            type: "GET",
            url: page.url.getAllRefused
        }).done(function (data) {
            if (data.content.length == 0) {
                showNoLengthPost()
                return;
            }
            $("#noLength").empty();

            $("#notification").html('');
            let srt = ` <label >Tổng số :${data.content.length}</label>`
            $("#notification").prepend(srt);
            $("#tbPost thead").html('');
            let tr = `<tr>
                <th class= "col-1" >Ảnh</th>
                <th class= "col-5">Tên bài đăng</th>
                <th class= "col-5">Địa chỉ</th>
                <th class="text-end" style="min-width: 100px">Giá phòng</th>
                <th style="min-width: 100px" class= "col-1">Ngày đăng</th>
                <th class= "col-1">Trạng thái</th>

           </tr>`;
            $("#tbPost thead").prepend(tr);
            $("#tbPost tbody").html('');
            let sizeDefault = 10;
            if (data.length < sizeDefault) {
                for (let i = 0; i < 10 - data.length; i++) {
                    let str = `</br>`;
                    $("#tbPost tbody").append(str);
                }
            }
            data.content.forEach((item) => {
                let image_thumbnail = App.BASE_URL_CLOUD_IMAGE + "/" + App.SCALE_IMAGE_W600_H650_Q100 + "/l_l_cloudinary_icon,c_limit,w_50,h_50,o_60/" + item.thumbnailId + ".jpg";
                post = item;
                user = post.user;
                locationResult = post.location;
                rentHouse = post.rentHouse;
                let str = `<tr class="col-12">
                    <td class= "col-1">
                        <div class="d-flex align-items-center">
                            <img src="${image_thumbnail}" alt=""
                                 style="width: 50px; height: 50px" class="rounded-3"/>
                        </div>
                    </td>
                    <td class= "col-3">
                        <div class="">
                            <p class="fw-bold mb-1">${post.title}</p>
                        </div>
                    </td>
                    <td class= "col-6">
                                <p class="fw-normal mb-1">${locationResult.line1}, ${locationResult.wardName}, ${locationResult.districtName}, ${locationResult.provinceName}</p>
                    </td>
                     <td class= "col-1">
                        <p class="fw-normal text-end mb-1">${new Intl.NumberFormat('de-DE').format(rentHouse.roomPrice)} đ</p>
                    </td>
                    <td class= "col-1">
                        <p class="fw-normal mb-1">${moment(post.createdAt).format("DD-MM-yyyy")}</p>
                    </td>
                    <td class= "col-1">
                        <a type="button" class="btn btn-outline-danger btn-delete" style="min-width: 120px" data-id="${post.id}" >
                            Xóa
                        </a>
                    </td>
                </tr>`;
                $("#tbPost tbody").prepend(str);
            });

            $("#tbPost").DataTable()
            handlerDelete();
        }).fail(function () {
            showError('Error')
        })
    }

    function showNoLengthPost() {
        removeDataTable()
        $("#noLength").html(renderNoLength())
    }

    function renderNoLength() {
        return `
             <div class="nctjX">
                 <div class="X8svI _2DJkz" style="display: flex; justify-content: center">
                         <div class="_228LH display-6">Bạn không có bài đăng nào phù hợp</div>
                 </div>
             </div>`
    }


    function handlerShowConfirmRefused() {
        $("a.btn-status").on('click', function () {
            let element = this;
            let postId = +$(this).data("id");
            Swal.fire({
                title: 'Cập nhật trạng thái phòng',
                text: "Bạn có muốn thay đổi trạng thái phòng không?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Vâng, Tôi đồng ý!',
                cancelButtonText: 'Huỷ'
            }).then((result) => {
                if (result.isConfirmed) {
                    doUpdateStatus(postId, element);
                }

            })
        })

    }

    function handlerDelete() {
        $(".btn-delete").on('click', function () {
            let postId = +$(this).data("id");
            Swal.fire({
                title: 'Xóa bài viết',
                text: "Bạn có muốn xóa bài viết không?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Vâng, Tôi đồng ý!',
                cancelButtonText: 'Huỷ'
            }).then((result) => {
                if (result.isConfirmed) {
                    doDelete(postId);
                }

            })
        })
    }


    function doUpdateStatus(postId, element) {
        let fomrData;
        if (post.status == "PUBLISHED") {
            fomrData = {
                status: "OVER_ROOM",
                id: postId
            }
        } else if (post.status == "OVER_ROOM") {
            fomrData = {
                status: "PUBLISHED",
                id: postId
            }
        }
        $.ajax({
            type: "PATCH",
            url: page.url.doUpdateStatus + "status/" + postId,
            data: JSON.stringify(fomrData),
            headers: {
                "Content-Type": "application/json"
            },
        }).done(function (data) {
            Swal.fire(
                'Cập nhật!',
                'Cập nhật trạng thái bài viết thành công.',
                'success'
            )
            if (post.status == "PUBLISHED") {
                page.commands.getAllPostPublished();
            } else if (post.status == "OVER_ROOM") {
                page.commands.getAllPostOverRoom();
            }
        }).fail(function () {
            showErrors("Không thể cập nhật trạng thái lúc này")
        })
    }

    function doDelete(postId) {
        $.ajax({
            type: "PATCH",
            url: page.url.doDelete + postId,
            data: JSON.stringify({
                status: "DELETED",
                id: postId
            }),
            headers: {
                "Content-Type": "application/json"
            },
        }).done(function () {
            Swal.fire(
                'Xóa!',
                'Xoá bài viết thành công.',
                'success'
            )
            if (post.status == "PUBLISHED") {
                page.commands.getAllPostPublished();
            } else if (post.status == "REFUSED") {
                page.commands.getAllRefused();
            }
            // showSuccess("hf")
        }).fail(function () {
            Swal.fire({
                position: 'mid-center',
                title: 'Rất tiếc bạn không thể xoá bài viết này',
                icon: 'error',
                showConfirmButton: false,
                timer: 1500
            })

        })
    }

    page.loadData = () => {
        page.commands.getAllPendingReview();
    }

    $(function () {
        page.loadData();

    })
</script>

</body>
</html>