<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/resources/bootstrap-5.0.2/css/bootstrap.min.css">
    <th:block th:replace="/ohana/layout/head :: head('Ohana - Tìm ở ghép, phòng trọ siêu nhanh')"/>

    <style>
        .col-md-3 {
            float: left;
        }

        .pd-25 {
            padding-left: 50px;
            padding-right: 50px;
        }

        .pd {
            padding: 10px;
        }

        /*    css upload file*/
        .image_container {
            height: 120px;
            width: 200px;
            border-radius: 6px;
            overflow: hidden;
            margin: 10px;
        }

        .image_container img {
            height: 100%;
            width: auto;
            object-fit: cover;
        }

        .image_container span {
            top: -6px;
            right: 8px;
            color: red;
            font-size: 28px;
            font-weight: normal;
            cursor: pointer;
        }

        .img_avatar {
            height: 120px;
            width: 200px;
        }

        #imgPreview {
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            box-shadow: 0 0 5px black;
            border-radius: 10px;
        }
    </style>
</head>

<body data-new-gr-c-s-check-loaded="14.1057.0" data-gr-ext-installed="" cz-shortcut-listen="true">
<th:block th:replace="/ohana/layout/modal/modal-loading :: modal-loading "/>
<div class="container">
    <div class="_3bjUj">
        <th:block th:replace="/ohana/layout/header :: header(${userResult})"/>
    </div>
    <div class="container mt-xl-5">
        <div class="text-center">
            <h3>
                Thông tin tài khoản
            </h3>
        </div>
        <!--        <th:block th:if="${userUpdateParam}!=null">-->
        <form class="pt-6" method="post" th:action="@{/myinfo}" th:object="${userUpdateParam}">
            <div class="row col-md-12">
                <div class="col-md-9">
                    <div class="row col-md-12">
                        <input type="hidden" class="form-control" th:field="${userUpdateParam.id}">
                        <div class="form-group col-md-6">
                            <label class="m-1">Họ và tên:</label>
                            <input type="text" class="form-control" th:field="${userUpdateParam.fullName}">
                            <label class="error" id="message" th:each="err : ${#fields.errors('fullName')}"
                                   th:text="${err}">
                            </label>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="m-1">Số điện thoại:</label>
                            <input type="number" class="form-control" placeholder=""
                                   th:field="${userUpdateParam.phone}">
                            <label class="error" th:each="err : ${#fields.errors('phone')}"
                                   th:text="${err}">
                            </label>
                            <th:block th:if="${errorDupliPhone == true}">
                                <label class="error" th:text="${message}">
                                </label>
                            </th:block>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group col-md-6">
                            <label class="m-1">Email:</label>
                            <input type="email" class="form-control" placeholder="" th:field="${userUpdateParam.email}">
                            <label class="error" th:each="err : ${#fields.errors('email')}"
                                   th:text="${err}">
                            </label>
                            <th:block th:if="${errorDupliEmail == true}">
                                <label class="error" th:text="${message}">
                                </label>
                            </th:block>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="m-1">Mô tả:</label>
                            <input type="text" class="form-control" placeholder=""
                                   th:field="${userUpdateParam.description}">
                            <label class="error" th:each="err : ${#fields.errors('address')}"
                                   th:text="${err}">
                            </label>
                        </div>
                    </div>

                    <div class="row col-md-12">
                        <div class="form-group col-md-12">
                            <label class="m-1">Địa chỉ:</label>
                            <input type="text" class="form-control" th:field="${userUpdateParam.address}">
                            <label class="error" th:each="err : ${#fields.errors('description')}"
                                   th:text="${err}">
                            </label>
                        </div>

                    </div>
                </div>
                <div class="col-md-3" style="position: relative;top: 10px;">
                    <button type="button" id="upload_widget" class="col-md-3 w-100 h-100">Up anh
                        <input type="hidden" id="urlImage" th:field="${userUpdateParam.thumbnailId}">
                        <img id="imgPreview" class="col-md-3 h-100"
                             src="/resources/image/upload.PNG"/>
                    </button>
                    <!--                    <img id="imgPreview"/>-->
                </div>
            </div>
            <div class="">
                <button type="submit" class="btn btn-primary mt-3">Cập nhật</button>
            </div>
        </form>
        <!--        </th:block>-->
    </div>
</div>

<footer id="footer">
    <th:block th:replace="/ohana/layout/footer :: footer"/>
</footer>
</body>

<th:block th:replace="/ohana/layout/script :: script"/>
<script src="https://widget.cloudinary.com/v2.0/global/all.js"></script>
<script>
    var cloudinaryWidget = cloudinary.createUploadWidget(
        {
            cloudName: "dh8nlcoul",
            uploadPreset: "cvrenzxm",
            // multiple: false,
        },
        (error, result) => {
            if (!error && result && result.event === "success") {
                console.log("Done! Here is the image info: ", result.info);
                let {url} = result.info;
                $("#imgPreview").attr("src", url)
                console.log(url)
                $('#urlImage').val(url);
            }
        }
    );
    $("#upload_widget").on("click", function () {
        cloudinaryWidget.open();
    });
</script>

<th:block th:if="${success == true}">
    <script>
        showSuccess('Cập nhật thành công!!!')
    </script>
</th:block>
<th:block th:if="${updateInfo == true}">
    <script>
        showWarning('Bạn cần cập nhật thông tin đầy đủ trước khi đăng bài!!!')
    </script>
</th:block>

</html>