<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/resources/bootstrap-5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/ohana/css/owl.carousel.min.css">
    <th:block th:replace="/ohana/layout/head :: head('Ohana - Tìm ở ghép, phòng trọ siêu nhanh')"/>
    <style>
        .col-md-3 {
            float: left;
        }

        .pd-25 {
            padding-left: 50px;
            padding-right: 50px;
        }

        .pd {
            padding: 10px;
        }

        /*    css upload file*/
        .image_container {
            height: 120px;
            width: 200px;
            border-radius: 6px;
            overflow: hidden;
            margin: 10px;
        }

        .image_container img {
            height: 100%;
            width: auto;
            object-fit: cover;
        }

        .image_container span {
            top: -6px;
            right: 8px;
            color: red;
            font-size: 28px;
            font-weight: normal;
            cursor: pointer;
        }

        .img_avatar {
            height: 120px;
            width: 200px;
        }

        .input {
            margin-left: 10px;
        }
    </style>
</head>

<body data-new-gr-c-s-check-loaded="14.1057.0" data-gr-ext-installed="" cz-shortcut-listen="true">
<th:block th:replace="/ohana/layout/modal/modal-loading :: modal-loading"/>

<div class="container">
    <div class="_3bjUj">
        <!--header-->
        <th:block th:replace="/ohana/layout/header :: header(${userResult})"/>
    </div>

    <div class="container mt-xl-5">
        <div class="text-center">
            <h3>
                ĐĂNG TIN
            </h3>
        </div>
        <form class="pt-6" id="frmPost" method="post" th:action="@{/post-room}" th:object="${postCreateParam}">
            <input id="id" type="hidden" class="form-control " th:field="${userResult.id}">
            <div class="">
                <div class="px-2 errorTotal">
                    <label class="m-1">Tiêu đề</label>
                    <input id="title" name="title" type="text" class="form-control" th:field="${postCreateParam.title}">
                </div>
            </div>
            <div class=" col-md-12">
                <div class="col-md-12 px-2 errorTotal">
                    <label class="m-1">Nội dung</label>
                    <textarea id="descriptionContent" name="descriptionContent" type="text" class="form-control"
                              th:field="${postCreateParam.descriptionContent}"></textarea>
                </div>
            </div>
            <div class="d-flex col-md-12">
                <div class="col-md-4 px-2 errorTotal">
                    <label class="m-1">Loại phòng</label>
                    <select type="text" class="form-select" name="category" id="category" th:field="${postCreateParam.categoryId}">
                    </select>
                </div>
                <div class="col-md-4 px-2 errorTotal">
                    <label class="m-1">Giới Tính</label>
                    <select type="text" class="form-select" id="gender" name="gender"
                            th:field="${postCreateParam.rentHouse.gender}">
                    </select>
                </div>
                <div class="col-md-4 px-2 errorTotal">
                    <label class="m-1">Sức chứa</label>
                    <input type="number" class="form-control" id="capacity" name="capacity"
                           th:field="${postCreateParam.rentHouse.capacity}">
                </div>
            </div>
            <div class="d-flex col-md-12">
                <div class="col-md-4 px-2 errorTotal">
                    <label class="m-1">Giá phòng (Đơn vị: VNĐ/Tháng)</label>
                    <input type="number" class="form-control" id="roomPrice"  name="roomPrice" th:field="${postCreateParam.rentHouse.roomPrice}">
                </div>
                <div class="col-md-4 px-2 errorTotal">
                    <label class="m-1">Tiền cọc (Đơn vị: VNĐ/Tháng)</label>
                    <input type="number" class="form-control" id="deposit" name="deposit" th:field="${postCreateParam.rentHouse.deposit}">
                </div>
                <div class="col-md-4 px-2 errorTotal">
                    <label class="m-1">Diện tích (m2)</label>
                    <input type="number" class="form-control" id="area" name="area" th:field="${postCreateParam.rentHouse.area}">
                </div>
            </div>
            <div class="d-flex col-md-12">
                <div class="col-md-4 px-2 errorTotal">
                    <label class="m-1">Tiền điện (Đơn vị: VNĐ/kWh)</label>
                    <input type="text" class="form-select" name="electricityPrice" id="electricityPrice" th:field="${postCreateParam.rentHouse.electricityPrice}">
                    </input>
                </div>
                <div class="col-md-4 px-2 errorTotal">
                    <label class="m-1">Tiền nước (Đơn vị: VNĐ/m³)</label>
                    <input type="number" class="form-control" id="waterPrice"  name="waterPrice" th:field="${postCreateParam.rentHouse.waterPrice}">
                </div>
                <div class="col-md-4 px-2 errorTotal">
                    <label class="m-1">Tiền wifi (Đơn vị: VNĐ/Tháng)</label>
                    <input type="number" class="form-control" id="wifiPrice" name="wifiPrice" th:field="${postCreateParam.rentHouse.wifiPrice}">
                </div>
            </div>

            <div class=" col-md-12 errorTotal">
                <label class="m-1 form-label">Tiện ích: </label>
                <div class="d-flex flex-wrap col-md-12 px-5" id="utilities" name="utilities" th:field="${postCreateParam.utilities}">
                </div>

            </div>
            <div class="d-flex col-md-12">
                <div class="col-md-3 px-2 errorTotal">
                    <label class="m-1">Tỉnh/Thành phố</label>
                    <select type="text" class="form-select" id="province" name="province"
                            th:field="${postCreateParam.location.provinceId}">
                    </select>
                </div>
                <div class="col-md-3 px-2 errorTotal">
                    <label class="m-1">Quận/Huyện/Thị Xã</label>
                    <select type="text" class="form-select" id="district" name="district"
                            th:field="${postCreateParam.location.districtId}">
                    </select>
                </div>
                <div class="col-md-3 px-2 errorTotal">
                    <label class="m-1">Phường/Xã</label>
                    <select type="text" class="form-select" id="ward"  name="ward" th:field="${postCreateParam.location.wardId}">
                    </select>
                </div>

                <div class="col-md-3 px-2 errorTotal">
                    <label class="m-1">Địa chỉ</label>
                    <input type="text" class="form-control" id="line1" name="line1" th:field="${postCreateParam.location.line1}">
                    <!--                    <label class="error">-->
                    <!--                    </label>-->
                </div>
            </div>
            <div class="d-flex col-md-12  mt-3 ">
                <div class="col-md-3 px-2 errorTotal">
                    <div  id="showImageThumb" class="col-md-12errorTotal">
                        <div id="upload_widgetThumb" class="d-flex">
                            <input type="hidden" id="urlImageThumb" name="urlImageThumb" th:field="${postCreateParam.thumbnailId}">
                           <div style="position: relative">
                               <img id="imgPreviewThumb"
                                    src="/resources/image/thumbpost.png"/>
                               <button type="button" disabled id="btnUploadThumb" class="btn btn-primary">Upload ảnh bìa</button>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 errorTotal">
                    <div id="showImage"  class="col-12 position-relative w-100">
                      <div id="imagesUpload" class="owl-carousel">
                      </div>
                        <button type="button" onclick="cloudinaryWidget.open()" disabled id="btnUploadImages" class="btn btn-primary">Upload bài viết</button>
                    </div>
                </div>
            </div>


            <div class="w-100 col-md-12 px-2">
                <button id="submitPost" name="submitPost" type="submit" class="btn btn-primary mt-3">Đăng tin</button>
            </div>
        </form>
    </div>
</div>

<th:block th:replace="/ohana/layout/footer :: footer"/>
<th:block th:replace="/ohana/layout/script :: script"/>
<script src="/resources/js/owl.carousel.min.js"></script>
<script src="https://widget.cloudinary.com/v2.0/global/all.js"></script>
<script src="/resources/paginationjs-master/paginationjs-master/src/pagination.js"></script>
<script>
    let listImageId = [];
    let imagesUrls = [];
    var cloudinaryWidget = cloudinary.createUploadWidget(
        {
            cloudName: "dh8nlcoul",
            uploadPreset: "cvrenzxm"
        },
        (error, result) => {
            if (!error && result && result.event === "success") {
                let {url} = result.info;
                let {public_id} = result.info;
                listImageId.push({
                    publicId: public_id,
                    fileUrl: url
                });
            }
            console.log(listImageId)
            if (result.event === "queues-end"){
               $("#btnUploadImages").attr("disabled",false).css("z-index", 999).text("Tải thêm ảnh")
               renderCarousel();
           }
        }
    );
    const renderCarousel  = ()=>{
        $("#imagesUpload").trigger('destroy.owl.carousel').removeClass('owl-loaded');
        $("#imagesUpload").find('.owl-stage-outer').children().unwrap();
        let imgElements = [...listImageId].map(img => renderUploadImage(img));
        $("#imagesUpload").html(imgElements.join(""))
        $("#imagesUpload").owlCarousel({items: 4,nav: true,dots: false})
    }
    const handleDeleteUploadImage = (imgId)=>{
        listImageId = listImageId.filter(({publicId}) => publicId !== imgId);
        renderCarousel();
    }
    const renderUploadImage = ({publicId}) =>{
        let url  = `https://res.cloudinary.com/dh8nlcoul/image/upload/w_190,h_220,r_10/v1681975206/${publicId}.jpg`
        return `<div class="position-relative">
                    <button data-imgid="${publicId}" id="imgDeleteBtn" onclick="handleDeleteUploadImage(this.dataset.imgid)" class="btn-outline-danger btn-sm btn"><i class="fas fa-times-circle"></i></button>
                    <img class="post_img_preview" src="${url}" alt="Uploaded images"/>
                </div>`;
    }

    $("#showImage").on("click", function (e) {
        if (e.target.getAttribute("id") === "showImage") {
            cloudinaryWidget.open();
        }
    });


    let thumbnailId;
    var cloudinaryWidgetThumb = cloudinary.createUploadWidget(
        {
            cloudName: "dh8nlcoul",
            uploadPreset: "cvrenzxm",
            multiple: false
        },
        (error, result) => {
            if (!error && result && result.event === "success") {
                let {url} = result.info;
                let {public_id} = result.info;
                thumbnailId = public_id;
                console.log(public_id)
                $("#imgPreviewThumb").attr("src", url);
                $("#btnUploadThumb")
                    .text("Thay đổi")
                    .attr("disabled",false)
                    .addClass("btn-sm btn-outline-secondary text-white")
                    .removeClass("btn-primary")
                    .css("text-shadow","0 0 5px black")
            }
        }
    );
    $("#upload_widgetThumb").on("click", function () {
        cloudinaryWidgetThumb.open();
    });


    let renderImage = (image) => {
        return `
            <img style="object-fit: cover" id="imgPreview" src="${image}" class="postroom"/>
        `
    }

    let page = {
        url: {
            getAllCategories: App.BASE_URL_API + "/categories",
            getAllUtilities: App.BASE_URL_API + "/utilities",
            getAllGenders: App.BASE_URL_API + "/genders",
            doCreatePost: App.BASE_URL_API + "/posts/postsNew",
            doFilter: App.BASE_URL_API + "/posts/filter",
            getAllProvinces: App.BASE_URL_PROVINCE,
        },
        element: {},
        loadData: {},
        commands: {},
        dialogs: {
            elements: {},
            loadData: {},
            commands: {},
            alertDanger: {}
        },
        initializeControlEvent: {},
        // let isClickInside = specifiedElement.contains(event.target)
    }
    page.dialogs.elements.title = $('#title');
    page.dialogs.elements.descriptionContent = $('#descriptionContent');
    page.dialogs.elements.category = $('#category');
    page.dialogs.elements.gender = $('#gender');
    page.dialogs.elements.capacity = $('#capacity');
    page.dialogs.elements.roomPrice = $('#roomPrice');
    page.dialogs.elements.area = $('#area');
    page.dialogs.elements.electricityPrice = $('#electricityPrice');
    page.dialogs.elements.waterPrice = $('#waterPrice');
    page.dialogs.elements.wifiPrice = $('#wifiPrice');
    page.dialogs.elements.deposit = $('#deposit');

    page.dialogs.elements.utilities = $('#utilities');

    page.dialogs.elements.province = $('#province');
    page.dialogs.elements.district = $('#district');
    page.dialogs.elements.ward = $('#ward');
    page.dialogs.elements.line1 = $('#line1');

    page.dialogs.elements.urlImageThumb = $('#urlImageThumb');
    page.dialogs.elements.urlImage = $('#urlImage');

    let post = new Post();
    let filter = {};
    let listPost = [];
    let min = 0;
    let max = 15000000;
    let postDTO = new PostDTO();
    let utilities = new Set();

    page.commands.getAllCategories = () => {
        $.ajax({
            type: "GET",
            url: page.url.getAllCategories
        }).done(function (data) {
            // $("#categories").html('');
            data.forEach((item) => {
                let str = `<option value="${item.id}">${item.title}</option>`;
                $("#category").append(str);
            });
        }).fail(function () {
            showError('Error')
        })
    }

    page.commands.getAllGenders = () => {
        $.ajax({
            type: "GET",
            url: page.url.getAllGenders
        }).done(function (data) {
            data.forEach((item) => {
                let str = `<option value="${item.id}">${item.name}</option>`;
                $("#gender").append(str);
            });
        }).fail(function () {
            showError('Error')
        })
    }

    page.commands.getAllUtilities = () => {
        $.ajax({
            type: "GET",
            url: page.url.getAllUtilities + "?page=0&size=50&status=SHOW"
        }).done(function (data) {
            data.content.forEach((item) => {
                let str = `<div class="col-md-2" style="font-size: 1.2rem;">
                            <input type="checkbox" id="utility" name="utilitiesCheckbox" value="${item.id}">
                            <span class="mx-2">${item.name}</span>
                           </div>`;
                $('#utilities').append(str);
            });
            $("input[type=checkbox]").off("change");
            $("input[type=checkbox]").on("change", function() {
                if (!$(this).is(":checked")) {
                    utilities.delete($(this).val());
                } else {
                    utilities.add($(this).val());
                }
            })
        }).fail(function () {
            // showError('Error')
        })
    }

    page.dialogs.loadData.getAllProvinces = () => {
        return $.ajax({
            type: 'GET',
            url: 'https://vapi.vnappmob.com/api/province/'
        })
            .done((data) => {
                $.each(data.results, (i, item) => {
                    let str = `<option value="${item.province_id}">${item.province_name}</option>`;

                    page.dialogs.elements.province.append(str);

                })

                addEventChangeProvince();
                addEventChangeDistrict();

            })
            .fail((jqXHR) => {
                AppBase.SweetAlert.showErrorAlert('Load Provinces fail');
            })
    }

    page.dialogs.loadData.getAllDistrictsByProvince = (provinceId) => {
        return $.ajax({
            type: 'GET',
            url: 'https://vapi.vnappmob.com/api/province/district/' + provinceId
        })
            .done((data) => {
                page.dialogs.elements.district.empty();
                $.each(data.results, (i, item) => {
                    let str = `<option value="${item.district_id}">${item.district_name}</option>`;

                    page.dialogs.elements.district.append(str);

                })


            })
            .fail((jqXHR) => {
                AppBase.SweetAlert.showErrorAlert('Load Districts fail');
            })
    }

    page.dialogs.loadData.getAllWardsByDistrict = (districtId) => {
        return $.ajax({
            type: 'GET',
            url: 'https://vapi.vnappmob.com/api/province/ward/' + districtId
        })
            .done((data) => {
                page.dialogs.elements.ward.empty();
                $.each(data.results, (i, item) => {
                    let str = `<option value="${item.ward_id}">${item.ward_name}</option>`;

                    page.dialogs.elements.ward.append(str);
                })


            })
            .fail((jqXHR) => {
                AppBase.SweetAlert.showErrorAlert('Load Wards fail');
            })
    }

    function addEventChangeProvince() {
        page.dialogs.elements.province.on("change", function () {
            let provinceId = $(this).val();

            if (provinceId !== 0) {
                page.dialogs.loadData.getAllDistrictsByProvince(provinceId).then(() => {
                    let districtId = page.dialogs.elements.district.val();
                    page.dialogs.loadData.getAllWardsByDistrict(districtId);
                })
            }
        })
    }

    function addEventChangeDistrict() {

        page.dialogs.elements.district.on("change", function () {
            let districtId = $(this).val();

            if (districtId !== 0) {

                page.dialogs.loadData.getAllWardsByDistrict(districtId);
            }

        })
    }

    function resetLocationRegion() {
        page.dialogs.loadData.getAllProvinces().then(() => {
            let provinceId = page.dialogs.elements.province.val();

            page.dialogs.loadData.getAllDistrictsByProvince(provinceId).then(() => {
                let districtId = page.dialogs.elements.district.val();

                page.dialogs.loadData.getAllWardsByDistrict(districtId);
            });
        });
    }

    function clearForm(){

        $("#title").val("");
        $("#descriptionContent").val("");
        $("#roomPrice").val("");
        $("#deposit").val("");
        $("#area").val("");
        $("#capacity").val("");
        $("#gender").val("");
        $("#wifiPrice").val("");
        $("#electricityPrice").val("");
        $("#waterPrice").val("");
        $("#line1").val("");
        $("#province").val("");
        $("#district").val("");
        $("#ward").val("");
        $("#showImage").empty();
        $('#showImageThumb').empty();
        $('#showImage').empty();
        $("input[type=checkbox]").prop("checked",false);


    }

    let doPostRoom = () => {
        let idUser = $("#id").val();
        let rentHouse = new RentHouse();
        let location = new LocationDTO();
        let images = listImageId;

        let title = $("#title").val();
        let descriptionContent = $("#descriptionContent").val();
        let categories = $("#category").val();

        location.provinceId = $("#province").val();
        location.provinceName = $("#province").find("option:selected").text();
        location.districtId = $("#district").val();
        location.districtName = $("#district").find("option:selected").text();
        location.wardId = $("#ward").val();
        location.wardName = $("#ward").find("option:selected").text();
        location.line1 = $("#line1").val();

        rentHouse.roomPrice = $("#roomPrice").val();
        rentHouse.deposit = $("#deposit").val();
        rentHouse.area = $("#area").val();
        rentHouse.capacity = $("#capacity").val();
        rentHouse.gender = $("#gender").val();
        rentHouse.electricityPrice = $("#electricityPrice").val();
        rentHouse.waterPrice = $("#waterPrice").val();
        rentHouse.wifiPrice = $("#wifiPrice").val();

        postDTO.title = title;
        postDTO.descriptionContent = descriptionContent;
        postDTO.categoryId = categories;
        postDTO.rentHouse = rentHouse;
        postDTO.location = location;
        postDTO.thumbnailId = thumbnailId;
        postDTO.images = images;
        postDTO.idUser = idUser;
        postDTO.utilities = Array.from(utilities);

        $.ajax({
            headers: {
                'accept': 'application/json',
                'content-type': 'application/json'
            },
            type: "POST",
            url: page.url.doCreatePost,
            data: JSON.stringify(postDTO)
        })
            .done((data) => {
                clearForm();
                showSuccess("đăng bài thành công!!!")

            })
            .fail((jqXHR) => {
                let errors = jqXHR.responseJSON;
                let message = errors.message;
                console.log(message)
                showError(message);
            })
    }


    $("#frmPost").validate({
        rules: {
            title: {
                required: true,
                minlength: 20,
                maxlength: 100
            },
            descriptionContent: {
                required: true,
                minlength: 20,
                maxlength: 1000
            },
            categoryId: {
                required: true,
            },
            "rentHouse.gender": {
                required: true,
            },
            "rentHouse.roomPrice": {
                required: true,
                number: true,
                min: 100000,
                max: 100000000
            },
            "rentHouse.deposit": {
                required: true,
                number: true,
                min: 100000,
                max: 100000000
            },
            "rentHouse.area": {
                required: true,
                number: true,
                min: 10,
                max: 1000
            },
            "rentHouse.capacity": {
                required: true,
                number: true,
                min: 1,
                max: 10
            },
            "rentHouse.electricityPrice": {
                required: true,
                number: true,
                min: 1000,
                max: 20000
            },
            "rentHouse.waterPrice": {
                required: true,
                number: true,
                min: 1000,
                max: 30000
            },
            "rentHouse.wifiPrice": {
                required: true,
                number: true,
                min: 10000,
                max: 3000000
            },
            "location.province": {
                required: true,
            },
            "location.district": {
                required: true,
            },
            "location.ward": {
                required: true,
            },
            "location.line1": {
                required: true,
                minlength: 5,
                maxlength: 255
            }
        },
        messages: {
            title: {
                required: "Tiêu đề không được để trống",
                minlength: "Tiêu đề không được dưới 20 kí tự",
                maxlength: "Tiêu đề không được vượt quá 100 kí tự"
            },
            descriptionContent: {
                required: "Mô tả không được để trống",
                minlength: "Mô tả không được dưới 20 kí tự",
                maxlength: "Mô tả không được vượt quá 1000 kí tự",
            },
            categoryId: {
                required: "Vui lòng chọn loại phòng",
            },
            "rentHouse.gender": {
                required: "Vui lòng chọn giới tính",
            },
            "rentHouse.roomPrice": {
                required: "Giá không được để trống",
                number: "nhập số",
                min: "Giá không được dưới 100.000 đồng",
                max: "Giá không được vượt quá 100.000.000 đồng"
            },
            "rentHouse.deposit": {
                required: "Giá không được để trống",
                number: "nhập số",
                min: "Giá không được dưới 100.000 đồng",
                max: "Giá không được vượt quá 100.000.000 đồng"
            },
            "rentHouse.area": {
                required: "Diện tích không được để trống",
                number: "Chỉ nhập số",
                min: "Diện tích không được dưới 10 m2",
                max: "Diện tích không được vượt quá 1.000 m2"
            },
            "rentHouse.capacity": {
                required: "Sức chứa không được để trống",
                number: "Chỉ nhập số",
                min: "Sức chứa không được dưới 1 người",
                max: "Sức chứa không vượt quá 10 người"
            },
            "rentHouse.electricityPrice": {
                required: "Tiền điện không được để trống",
                number: "Chỉ nhập số",
                min: "Tiền điện không được dưới 1.000 đồng",
                max: "Tiền điện vượt quá 20.000 đồng"
            },
            "rentHouse.waterPrice": {
                required: "Tiền nước không được để trống",
                number: "Chỉ nhập số",
                min: "Tiền nước không dưới 1.000 đồng",
                max: "Tiền nước không vượt quá 30.000 đồng"
            },
            "rentHouse.wifiPrice": {
                required: "Tiền wifi không được để trống",
                number: "Chỉ nhập số",
                min: "Tiền wifi không dưới 10.000 đồng",
                max: "Tiền wifi không vượt quá 3.000.000 đồng"
            },
            "location.province": {
                required: "Vui lòng chọn Tỉnh/Thành Phố",
            },
            "location.district": {
                required: "Vui lòng chọn Quận/Huyện/Thị Xã",
            },
            "location.ward": {
                required: "Vui lòng chọn Phường/Xã",
            },
            "location.line1": {
                required: "Địa chỉ không được để trống",
                minlength: "Địa chỉ không được dưới 1 kí tự",
                maxlength: "Địa chỉ không được vượt quá 255 kí tự"
            }
        },
        // showErrors: function (errorMap, errorList) {
        //     console.log(errorList.length)
        //     if (errorList.length > 0) {
        //         $("#title .errorTitle").removeClass("hide").addClass("show");
        //     } else {
        //         console.log(errorMap)
        //         $("#title-error").removeClass("error").addClass("hide").empty();
        //         // $("#frmTransfer input.error").removeClass("error");
        //     }
        //     this.defaultShowErrors();
        // },
        submitHandler: function () {
            // e.preventDefault();
            doPostRoom();
        }
    });
    //
    // $("#submitPost").on('click', () => {
    //     $("#frmPost").trigger('submit');
    // })

    // $("#submitPost").on("click", function (e) {
    //     e.preventDefault();
    //     doPostRoom();
    // });


    //     $.each($("input[name='utilitiesCheckbox']:checked"), function () {
    //         utilities.push(+$(this).val());
    //         console.log("abc");
    //     });
    // }



    $(() => {
        page.commands.getAllCategories();
        page.commands.getAllGenders();
        page.commands.getAllUtilities();
        resetLocationRegion();
    })
</script>
</body>

</html>