<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<!--    <link rel="stylesheet" type="text/css" href="/resources/bootstrap-5.0.2/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
    <th:block th:replace="/ohana/layout/head :: head('Ohana - Tìm ở ghép, phòng trọ siêu nhanh')"/>
    <link rel="stylesheet" href="/resources/ohana/css/error.css">
</head>

<body data-new-gr-c-s-check-loaded="14.1057.0" data-gr-ext-installed="" cz-shortcut-listen="true">

<div class="container text-center">
    <div class="_3bjUj">
        <th:block th:replace="/ohana/layout/header :: header(${userResult})"/>
    </div>

</div>
<div class="mt-5" style="text-align: center">
    <h3>Chúc mừng, tài khoản của bạn đã xác thực thành công.</h3>
    <h4 ><a href="/sign-in" style="color: blue">Click để quay trở lại trang đăng nhập</a></h4>
</div>

<th:block th:replace="/ohana/layout/script :: script"/>
</body>

<footer id="footer">
    <th:block th:replace="/ohana/layout/footer :: footer"/>
</footer>

</html>