<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="vi">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <th:block th:replace="/ohana/layout/head :: head('Ohana - Tìm ở ghép, phòng trọ siêu nhanh')"/>
    <style>
        body {
            background-color: #F6F5F2;
        }

        .X0uZX {
            padding-left: 20px;
        }

        ul {
            list-style-type: none;
        !important;
        }
    </style>
</head>

<body>
<div id="root">
    <div class="app">
        <div class="_3bjUj">
            <!--header-->
            <th:block th:replace="/ohana/layout/header :: header(${userResult})"/>
            <div class="QZg_h _18fKS">
                <div class="_3oMi4">
                    <div class="_3OgY1">
                        <div class="_1_U71">
                            <div class="_2lKdR">
                                <div class="_3p4ES _1vH0j" id="floating-city-dropdown">
                                    <div class="wj6oE">
                                        <span class="icon-location-fill"
                                              style="color: rgb(247, 52, 134); font-size: 16px;"></span>
                                        <span class="_1qNTb">HUẾ</span>
                                    </div>
                                </div>
                                <div class="_1pVEQ">
                                    <input id="search"
                                           class="bX6zE"
                                           placeholder="Tìm kiếm theo địa điểm, quận, tên đường..."
                                           value fdprocessedid="ncxia9">
                                    <div class="_2QckJ">
                                        <span class="icon-search"
                                              style="color: rgb(247, 52, 134);
                                              font-size: 24px; align-content: center"></span>
                                    </div>
                                </div>
                                <div class="_1IdUV">
                                    <ul class="b-CdA _11SSO" style="left: 157px;" id="location"></ul>
                                </div>
                            </div>
                            <div class="_1IdUV">
                                <ul class="b-CdA" style="width: 123px;">
                                    <li class="J_X1w _1vH0j" value="HUE">Huế</li>
                                    <li class="J_X1w _1vH0j GpngF" value="DN">Đằng Nẵng</li>
                                </ul>
                                <ul class="b-CdA" style="left: 128px;"></ul>
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:if="${(param.provinceName!=null)||(param.districtName!=null)||(param.wardName!=null)}">
            <div class="d-flex">
                <span class="col-8 offset-4" style="margin-top: 112px;padding: 10px 0;color: rgb(102, 102, 102);">
                    <i style="color: rgb(72, 119, 248);"th:text="${param.provinceName}"></i>
                    <th:block th:if="${param.districtName!=null}">
                        <span class="icon-a-right"
                              style="color: rgb(102, 102, 102); font-size: 14px; margin-left: 10px; margin-right: 10px;">
                        </span>
                        <span style="color: rgb(72, 119, 248);" th:text="${param.districtName}"></span>
                    </th:block>
                    <th:block th:if="${param.wardName!=null}">
                        <span class="icon-a-right"
                              style="color: rgb(102, 102, 102); font-size: 14px; margin-left: 10px; margin-right: 10px;">
                        </span>
                        <span style="color: rgb(102, 102, 102);" th:text="${param.wardName}"></span>
                    </th:block>
                </span>
                <!--                            <span style="color: rgb(102, 102, 102);" th:text="${trend.name}"></span>-->
            </div>
        </th:block>
        <div th:classappend="${param.provinceName==null ?'no-breadcrums':''}" class="_2fxFG">

            <div class="FMSe2 _3Nvxb">
                <div class="_1say4">
                    <div class="_1Tf_Z _3x9MP"><span class="_2TvH9">Bộ lọc</span>
                        <div class="_1vH0j">
                            <div class="_1Gwyz _1vH0j btn-search"><span>Áp dụng</span></div>
                        </div>
                    </div>
                    <div class="ySUHy">
                        <div class="q49VD">
                            <div class="wzw4X d-flex flex-column">
                                <div class="d-flex justify-content-between w-100" id="btn_price">
                                    <span class="_2dNxP">Giá</span>
                                    <span
                                            class="icon-a-down float-end _11wO8 _2enHb" id="btnPrice"
                                            style="color: rgb(51, 51, 51); font-size: 20px;">
                                    </span>
                                </div>
                            </div>
                            <div class="_1ZENx _1-FEc _39FVJ" id="price">
                                <div class="oH889">
                                    <div class="range-slide">
                                        <div class="slide">
                                            <div class="line" id="line" style="left: 0%; right: 0%;"></div>
                                            <span class="thumb" id="thumbMin" style="left: 0%;"></span>
                                            <span class="thumb" id="thumbMax" style="left: 100%;"></span>
                                        </div>
                                        <input class="input-class" id="rangeMin" type="range" max="15000000" min="0"
                                               step="50"
                                               value="0">
                                        <input class="input-class" id="rangeMax" type="range" max="15000000" min="0"
                                               step="50"
                                               value="15000000">
                                    </div>
                                    <div class="display">
                                        <span class="text-start" id="min">0tr</span>
                                        <span class="text-end" id="max" style="width: 50px;">15tr</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="q49VD">
                            <div class="wzw4X d-flex flex-column">
                                <div class="d-flex justify-content-between w-100" id="btn_categories">
                                    <span class="_2dNxP">Loại phòng</span>
                                    <span
                                            class="icon-a-down float-end _11wO8 _2enHb" id="btnCategory"
                                            style="color: rgb(51, 51, 51); font-size: 20px;">
                                    </span>
                                </div>
                                <div class="_1ZENx _1-FEc X0uZX align-self-start" id="categories">
                                </div>
                            </div>

                        </div>
                        <div class="q49VD">
                            <div class="wzw4X d-flex flex-column">
                                <div class="d-flex justify-content-between w-100" id="btn_utitys">
                                    <span class="_2dNxP">Tiện ích</span>
                                    <span
                                            class="icon-a-down float-end _11wO8 _2enHb" id="btnUtilities"
                                            style="color: rgb(51, 51, 51); font-size: 20px;">
                                    </span>
                                </div>
                                <div class="_1ZENx _1-FEc _1Ed3U align-self-start" id="utilities">
                                </div>
                            </div>
                        </div>

                        <div class="q49VD">
                            <div class="wzw4X d-flex flex-column">
                                <div class="d-flex justify-content-between w-100" id="btn_gender">
                                    <span class="_2dNxP">Giới tính</span>
                                    <span
                                            class="icon-a-down float-end _11wO8 _2enHb" id="btnGenders"
                                            style="color: rgb(51, 51, 51); font-size: 20px;">
                                    </span>
                                </div>
                                <div class="_1ZENx _1-FEc X0uZX align-self-start" id="genders">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="_1vH0j _3X6_U btn-search">
                        <span>Áp dụng</span>
                    </div>
                </div>
            </div>
            <div class="aR5Eq">


                <div class="TJKfZ _3Nvxb">
                    <div class="_1Tf_Z">
                        <span class="_3gUBz">
                            <span class="_2TvH9">Phòng mới nhất</span>
                        </span>
                    </div>
                    <div class="_1RkT-">
                        <section>
                            <div id="postContainer"></div>
                        </section>
                        <div id="paginationPost" class="d-flex justify-content-center">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<th:block th:replace="/ohana/layout/footer :: footer"/>
<th:block th:replace="/ohana/layout/script :: script"/>

<script th:inline="javascript">
    let page = {
        url: {
            getAllCategories: App.BASE_URL_API + "/categories",
            getAllUtilities: App.BASE_URL_API + "/utilities",
            getAllGenders: App.BASE_URL_API + "/genders",
            doCreatePost: App.BASE_URL_API + "/posts/postNews",
            doFilter: App.BASE_URL_API + "/posts/filter",
            getAllProvinces: App.BASE_URL_PROVINCE,
        },
        element: {},
        loadData: {},
        commands: {},
        dialogs: {
            elements: {},
            loadData: {},
            commands: {},
            alertDanger: {}
        },
        initializeControlEvent: {},
        // let isClickInside = specifiedElement.contains(event.target)
    }

    let post = new Post();
    let filter = {};
    let listPost = [];
    let min = 0;
    let max = 15000000;

    const calcLeftPosition = value => 100 / (15000000) * (value);

    // Rang: Min, Max

    $('#rangeMin').on('input', function (e) {
        const newValue = parseInt(e.target.value);
        if (newValue + 500000 > max) return;
        min = newValue;
        $('#thumbMin').css('left', calcLeftPosition(newValue) + '%');
        $('#min').html(Math.ceil(newValue / 500000) * 500000 / 1000000 + 'tr');
        $('#line').css({
            'left': calcLeftPosition(newValue) + '%',
            'right': (100 - calcLeftPosition(max)) + '%'
        });
    });

    $('#rangeMax').on('input', function (e) {
        const newValue = parseInt(e.target.value);
        if (newValue - 500000 < min) return;
        max = newValue;
        $('#thumbMax').css('left', calcLeftPosition(newValue) + '%');
        $('#max').html(Math.ceil(newValue / 500000) * 500000 / 1000000 + 'tr');
        $('#line').css({
            'left': calcLeftPosition(min) + '%',
            'right': (100 - calcLeftPosition(newValue)) + '%'
        });
    });

    // END ======

    let pagingParams = {
        paginationPage: 0,
        size: 10
    }

    function doFilter(filter, pagingPr = pagingParams) {
        let {paginationPage, size} = pagingPr;
        $.ajax({
            data: JSON.stringify(filter),
            "headers": {
                "Content-Type": "application/json"
            },
            type: "POST",
            url: page.url.doFilter + `?page=${paginationPage}&size=${size}`,
        }).done(function (data) {
            paging(data);
        }).fail(function (jqXhr) {
            showError("Get Filter Fail")
        })
    }

    // Chang handleBtn: btnCategory, btnUtilities, btnGenders

    let isCategoryClick = false

    $("#btn_categories").on('click', function () {
        page.commands.handleCategoryClick(isCategoryClick = !isCategoryClick)
    });

    page.commands.handleCategoryClick = (isClick) => {
        if (isClick) {
            $("#categories").show(250);
            $("#btnCategory").animate({rotate: "90deg"}, 250)
        } else {
            $("#categories").hide(250);
            $("#btnCategory").animate({rotate: "0deg"}, 250)
        }
    }

    let isUtilitieClick = false

    $("#btn_utitys").on('click', function () {
        page.commands.handleUtilitieClick(isUtilitieClick = !isUtilitieClick)
    })

    page.commands.handleUtilitieClick = (isClick) => {
        if (isClick) {
            $("#utilities").show(250);
            $("#btnUtilities").animate({rotate: "90deg"}, 250)
        } else {
            $("#utilities").hide(250);
            $("#btnUtilities").animate({rotate: "0deg"}, 250)
        }
    }

    let isGenderClick = false

    $("#btn_gender").on('click', function () {
        page.commands.handleGenderClick(isGenderClick = !isGenderClick)
    })

    page.commands.handleGenderClick = (isClick) => {
        if (isClick) {
            $("#genders").show(250);
            $("#btnGenders").animate({rotate: "90deg"}, 250)
        } else {
            $("#genders").hide(250);
            $("#btnGenders").animate({rotate: "0deg"}, 250)
        }
    }

    let isPiceClick = false

    $("#btn_price").on('click', function () {
        page.commands.handlePriceClick(isPiceClick = !isPiceClick)
    })

    page.commands.handlePriceClick = (isClick) => {
        if (isClick) {
            $("#price").show(250);
            $("#btnPrice").animate({rotate: "90deg"}, 250)
        } else {
            $("#price").hide(250);
            $("#btnPrice").animate({rotate: "0deg"}, 250)
        }
    }

    // END =======


    $(".btn-search").on('click', function () {
        filter.priceStarts = min;
        filter.priceEnds = max;

        let utilities = [];
        $.each($("input[name='utilitiesCheckbox']:checked"), function () {
            utilities.push(+$(this).val());
        });
        filter.utilities = utilities;

        let categories = [];
        $.each($("input[name='categoriesCheckbox']:checked"), function () {
            categories.push(+$(this).val());
        });
        filter.categories = categories;

        let checkGender = +$('input[type="radio"][name="roomGendersRadio"]:checked').val()
        if(checkGender == 1) {
            filter.gender = [1];
        }
        if(checkGender == 2){
            filter.gender = [1,2];
        }
        if(checkGender == 3) {
            filter.gender = [1,3];
        }

        doFilter(filter);
    })


    // GetALl: categories

    page.commands.getAllUtilities = () => {
        $.ajax({
            type: "GET",
            url: page.url.getAllUtilities + "?page=0&size=50&status=SHOW"
        }).done(function (data) {
            $("#utilities").html('');
            data.content.forEach((item) => {
                $('#utilities').append(`
                    <label class="_22Yl9" id="utility_${item.id}">
                        <span class="_39t1S">
                            <span class="${item.icon}" style="color: rgb(51, 51, 51); font-size: 20px;"></span>
                            <span class="vcduZ">${item.name}</span>
                        </span>
                        <input value="${item.id}" type="checkbox" name="utilitiesCheckbox">
                        <span class="_1akYM"></span>
                    </label>
                `);
            });
        }).fail(function () {
            showError('Error')
        })
    }

    page.commands.getAllCategories = () => {
        $.ajax({
            type: "GET",
            url: page.url.getAllCategories + "?status=SHOW"
        }).done(function (data) {
            $("#categories").html('');
            data.content.forEach((item) => {
                $("#categories").append(`
                    <label class="_22Yl9" id="category_${item.id}">
                        <span class="_39t1S">
                            <span class="vcduZ">${item.title}</span>
                        </span>
                        <input value="${item.id}" type="checkbox" name="categoriesCheckbox">
                        <span class="_1akYM"></span>
                    </label>`);
            });
        }).fail(function () {
            showError('Error')
        })
    }

    page.commands.getAllGenders = () => {
        $.ajax({
            type: "GET",
            url: page.url.getAllGenders
        }).done(function (data) {
            $("#genders").html('');
            data.forEach((item) => {
                let str = `<label class="zOnI7" id="male"><span
                                        class="_1HWTz">${item.name}</span><input value="${item.id}" type="radio" name="roomGendersRadio"><span
                                        class="_30lzl"></span>
                           </label>`;
                $("#genders").append(str);
            });
        }).fail(function () {
            showError('Error')
        })
    }


    $(function () {
            const urlParams = new URLSearchParams(window.location.search);

            let wardId = urlParams.get("wardId");
            let keyword = urlParams.get("keyword");
            let line1 = urlParams.get("line1");
            let wardName = urlParams.get("wardName");
            let districtId = urlParams.get("districtId");
            let districtName = urlParams.get("districtName");
            let provinceName = urlParams.get("provinceName");


            if (wardName && wardName.length > 0) {
                $("#search").val(line1 == null ? wardName : line1 + ", " + wardName)
            }
            if (districtName && districtName.length > 0) {
                $("#search").val(districtName)
            }
            let mess = [[${mess}]];

            $("#price").hide();

            $("#categories").hide();
            page.commands.getAllCategories();

            $("#genders").hide();
            page.commands.getAllGenders();

            $("#utilities").hide();
            page.commands.getAllUtilities();

            if (mess != null) {
                showError(mess);
                const myTimeout = setTimeout(redirectAllListPost, 1000);

                function redirectAllListPost() {
                    location.href = App.DOMAIN;
                }
            } else if (wardId != null) {
                let location = {
                    locationFilter: {
                        line1: line1,
                        wardId: wardId
                    }
                }
                doFilter(location);
                return;
            }
            if (districtId != null) {
                let location = {
                    locationFilter: {
                        districtId: districtId
                    }
                }
                doFilter(location);
                return;
            }
            filter.priceStarts = min;
            filter.priceEnds = max;

            let utilities = [];
            $.each($("input[name='utilitiesCheckbox']:checked"), function () {
                utilities.push(+$(this).val());
            });

            filter.utilities = utilities;

            let categories = [];
            $.each($("input[name='categoriesCheckbox']:checked"), function () {
                categories.push(+$(this).val());
            });
            filter.categories = categories;

            let checkGender = +$('input[type="radio"][name="roomGendersRadio"]:checked').val()
            if(checkGender == 2){
                filter.gender = [1,2];
            }
            if(checkGender == 3) {
                filter.gender = [1, 3];
            }
            doFilter(filter)
        }
    )

    function checkPrice(price) {
        if (price >= 1000000) {
            switch (post.category.id) {
                case 1:
                case 2:
                    return "tr/phòng"
                    break;
                case 3:
                    return "tr/người"
                    break;
                case 4:
                case 5:
                    return "tr/căn"
                    break;
                default:
                    return "tr/phòng"
                    break;
            }
            return price / 1000000;
        } else {
            switch (post.category.id) {
                case 1:
                case 2:
                    return "k/phòng"
                    break;
                case 3:
                    return "k/người"
                    break;
                case 4:
                case 5:
                    return "k/căn"
                    break;
                default:
                    return "k/phòng"
                    break;
            }
            return price / 1000;
        }
    }

    function paging(data) {
        $("#postContainer").html(renderPosts(data.content))
        $("#paginationPost").html(renderPagination(data))
    }

    function renderPosts(response, pagination) {
        if (response.length === 0) {
            return `<ul>
                         <li>
                         <div class="nctjX">
                             <div class="X8svI _2DJkz">
                                     <div class="_228LH display-6">Không có bài đăng nào phù hợp</div>
                             </div>
                         </div>
                     </li>
                 </ul>`
        }
        let str = '<ul>';
        $.each(response, function (index, item) {
            post = item;
            // let image_thumbnail = App.BASE_URL_CLOUD_IMAGE + "/" + App.SCALE_IMAGE_W600_H650_Q100  + "/" + post.thumbnailId + ".jpg";
            let image_thumbnail = `https://res.cloudinary.com/dh8nlcoul/image/upload/w_190,h_220,r_10/l_l_cloudinary_icon,c_limit,w_50,h_50/v1681975206/${post.thumbnailId}.jpg`;
            let gender;
            if (post.rentHouse.gender.id === 1) {
                gender = "Nam/Nữ";
            } else {
                gender = post.rentHouse.gender.name;
            }
            let typeRoom;

            function checkPrice(price) {
                if (price >= 1000000) {
                    switch (post.category.id) {
                        case 1:
                        case 2:
                            typeRoom = "tr/phòng"
                            break;
                        case 3:
                            typeRoom = "tr/người"
                            break;
                        case 4:
                        case 5:
                            typeRoom = "tr/căn"
                            break;
                        default:
                            typeRoom = "tr/phòng"
                            break;
                    }
                    return price / 1000000;
                } else {
                    switch (post.category.id) {
                        case 1:
                        case 2:
                            typeRoom = "k/phòng"
                            break;
                        case 3:
                            typeRoom = "k/người"
                            break;
                        case 4:
                        case 5:
                            typeRoom = "k/căn"
                            break;
                        default:
                            typeRoom = "k/phòng"
                            break;
                    }
                    return price / 1000;
                }
            }
            let price = checkPrice(post.rentHouse.roomPrice);
            str += `<li>
                         <div class="nctjX"><a target="_blank" href="/${post.id}/room">
                                <div class="X8svI _2DJkz">
                                    <div class="pcGxo">
                                        <div class="_1Gm0b"><img
                                                src="/resources/ohana/img/20c8373d39e30d04cde885686abc2987.png"
                                                alt="verified-img" class="_1TPDO"></div>
                                        <img src=${image_thumbnail}
                                             alt="room-img"
                                             class="_1IOeB">
                                    </div>
                                    <div class="_228LH">
                                        <p class="_3xXyQ" >${post.title}</p>
                                        <div class="_27rcQ">
                                            <div class="_3piN7">
                                                <div class="wpwoK"><span class="icon-nav-home"
                                                                         style="color: rgb(102, 102, 102); font-size: 24px; margin-right: 8px;"></span><span
                                                       >${post.category.title}</span>
                                                       <span
                                                                         style="color: rgb(102, 102, 102); font-size: 24px; margin-right: 8px;"></span><span
                                                       >Sức chứa: ${post.rentHouse.capacity}</span></div>
                                                <div class="_3TYbx"><span><span class="icon-nav-roomate"
                                                                                style="color: rgb(102, 102, 102); font-size: 24px; margin-right: 8px;"
                                                                               >${gender}</span></span><span><span
                                                        class="icon-squaremeter"
                                                        style="color: rgb(102, 102, 102); font-size: 24px; margin-right: 8px;"
                                                       >${post.rentHouse.area}</span>m<sup>2</sup></span>
                                                </div>
                                                <div class="_1jHdY"><span class="icon-location"
                                                                          style="color: rgb(102, 102, 102); font-size: 24px; margin-right: 8px;"></span><span
                                                        class="uKi2L"
                                                       >${post.location.line1}, ${post.location.wardName}, ${post.location.districtName}, ${post.location.provinceName}</span>
                                                </div>
                                            </div>
                                            <div class="_1ezn1">
                                                <span class="_36r7N">${price}</span>
                                                <span class="_11LqE">${typeRoom}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </a>
                            </div>
                            </li>
                    `;
            // $(container).append(str);
        });
        str += '</ul>';
        return str;
    }

    function renderPagination(data) {

        let {totalElements, size, number, empty, first, last, totalPages} = data

        console.log(totalElements, size, number)

        let firstEl = !first ? ` <li role="button" class="page-item" onclick="handleChangePage(${number - 1})">
                                      <span class="page-link">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                      </span>
                                    </li>` : "";
        let lastEl = !last ? `<li role="button" class="page-item" onclick="handleChangePage(${number + 1})">
                                  <span class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                  </span>
                                </li>` : "";

        let numbersEl = ``
        if (!empty) {
            for (let i = 0; i < totalPages; i++) {
                let pageNum = i + 1
                numbersEl += `<li role="button" class="page-item ${i === number ? "active" : null}" ${i !== number && `onclick="handleChangePage(${i})"`}><span class="page-link">${pageNum}</span></li>`;
            }
        }
        return `
            <nav>
              <ul class="pagination">
               ${firstEl}
                 ${numbersEl}
                ${lastEl}
              </ul>
            </nav>
        `;
    }

    function handleChangePage(pageNum) {
        console.log(pageNum)
        doFilter(filter, {paginationPage: pageNum, size: 10})
    }

    $("#search").on('input', () => {
        let valueSearch = $("#search").val();
        $("#location").html("");
        if (valueSearch.length > 2) {
            $("._1IdUV").show(250);
            $.ajax({
                type: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                data: JSON.stringify({keyword: valueSearch})
                ,
                url: App.BASE_URL_API + "/posts/filter?page=0&size=10"
            }).done(function (data) {
                let locationDetail;
                $("#location").empty()
                data.content.forEach(({location}) => {
                    let item = location
                    if (item.wardName == null) {
                        locationDetail = item.districtName;
                    } else {
                        locationDetail = item.wardName;
                    }
                    let str = `<li role="button" class="li-search" value="${item.wardId}" onclick="doSearchFilter(this.value)">${item.line1}, ${item.wardName}</li>`;
                    $("#location").append(str);
                })
            }).fail(function () {
                showError('Error')
            })
        }
    })


    function doSearchFilter(wardName) {
        let location = {
            keyword: $("#search").val(),
            locationFilter: {
                wardId: wardName
            }
        }
        doFilter(location);
        $("._1IdUV").hide(250);
    }


</script>
</body>

</html>